<template>
  <div>
    <b-row>
      <b-col class="mb-2">
        <GoBackButton />
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12">
        <b-card>
          <CreateLeadForm @saved="toLeadPage($event)" />
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import CreateLeadForm from '~/components/lead/CreateLeadForm'
import GoBackButton from '~/components/common/GoBackButton'

export default {
  name: 'LeadCreate',
  layout: 'default-backside',
  middleware: 'auth',
  transition: 'animated',
  components: { GoBackButton, CreateLeadForm },
  methods: {
    toLeadPage(lead) {
      this.$router.push({
        name: 'edit-lead',
        params: { id: lead.id },
      })
    },
  },
}
</script>
