<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <b-row class="my-1">
      <b-col xs="12" xl="1" class="my-1">
        <b-button-toolbar>
          <b-button-group size="sm">
            <b-button variant="primary" :to="{ name: 'create-lead' }">
              Create
            </b-button>
          </b-button-group>
        </b-button-toolbar>
      </b-col>
      <b-col xs="12" xl="11" class="my-1">
        <b-row>
          <b-col хs="12" md="6" xl="2" class="mb-1">
            <b-input-group size="sm">
              <b-form-input
                id="filterInput"
                v-model.trim="query"
                type="search"
                :debounce="500"
                placeholder="Type to Search"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!query" @click="query = ''">
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="2" class="mb-1">
            <b-input-group size="sm" class="flex-sm-nowrap">
              <DropdownList
                id="filterBySource"
                v-model="filter.leadSource"
                action="leads/fetchSourceList"
                getter="leads/sourceList"
                placeholder="-- Filter by source --"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter.leadSource"
                  @click="onClearFilter('leadSource')"
                >
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="2" class="mb-1">
            <b-input-group size="sm" class="flex-sm-nowrap">
              <DropdownList
                id="filterByStatus"
                v-model="filter.status"
                action="leads/fetchStatusList"
                getter="leads/statusList"
                placeholder="-- Filter by status --"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter.status"
                  @click="onClearFilter('status')"
                >
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="2" class="mb-1">
            <b-input-group size="sm" class="flex-sm-nowrap">
              <DropdownList
                id="filterByOwner"
                v-model="filter.owner"
                action="fetchSales"
                getter="sales"
                placeholder="-- Filter by owner --"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter.owner"
                  @click="onClearFilter('owner')"
                >
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="3" class="mb-1">
            <DateRangeFilter
              :date-range="dateRange"
              @select="dateRange = $event"
            />
          </b-col>
          <b-col хs="12" md="6" xl="1" class="mb-1">
            <b-button-toolbar class="d-flex justify-content-end">
              <b-button-group size="sm">
                <b-button variant="primary" @click="onClearFilter()">
                  Reset
                </b-button>
              </b-button-group>
            </b-button-toolbar>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12">
        <b-table
          ref="table"
          selectable
          :dark="true"
          :hover="true"
          :striped="true"
          :bordered="true"
          :small="false"
          :fixed="false"
          :show-empty="true"
          empty-text="You have not created any leads yet"
          responsive="sm"
          :items="myProvider"
          :fields="captions"
          :busy.sync="isBusy"
          :current-page="currentPage"
          :per-page="perPage"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :filter="query"
          foot-clone
          no-local-sorting
          @row-clicked="rowClicked"
          @filtered="onFiltered"
        >
          <template v-slot:table-busy>
            <div class="text-center text-primary my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <template v-slot:foot()="data">
            {{ data.label }}
          </template>

          <template v-slot:cell(leadSource)="data">
            {{ data.item.leadSource.title }}
          </template>

          <template v-slot:cell(leadOwner)="data">
            {{ data.item.leadOwner.name }}
          </template>

          <template v-slot:cell(industry)="data">
            {{ data.item.industry.title }}
          </template>

          <template v-slot:cell(contacts)="data">
            <div v-if="data.item.email">
              <small>
                E-mail:
                <a :href="`mailto:${data.item.email}`">
                  {{ data.item.email }}
                </a>
              </small>
            </div>
            <div v-if="data.item.phone">
              <small>
                Phone:
                <a :href="`tel:${data.item.phone}`">
                  {{ data.item.phone }}
                </a>
              </small>
            </div>
            <div v-if="data.item.skype">
              <small>
                Skype:
                <a :href="`skype:${data.item.skype}?call`">
                  {{ data.item.skype }}
                </a>
              </small>
            </div>
            <div v-if="data.item.linkedin">
              <small>
                LinkedIn:
                <b-link :href="data.item.linkedin" target="_blank">
                  {{ cutUrl(data.item.linkedin) | truncate(15) }}
                  <b-icon icon="box-arrow-up-right"></b-icon>
                </b-link>
              </small>
            </div>
            <div v-if="data.item.website">
              <small>
                Website:
                <b-link :href="data.item.website" target="_blank">
                  {{ cutUrl(data.item.website) | truncate(15) }}
                  <b-icon icon="box-arrow-up-right"></b-icon>
                </b-link>
              </small>
            </div>
          </template>

          <template v-slot:cell(status)="data">
            <span
              class="badge p-1"
              :style="`color: #fff; background-color: ${data.item.status.color}`"
            >
              {{ data.item.status.title }}
            </span>
          </template>

          <template v-slot:cell(link)="data">
            <b-link
              v-if="data.item.link"
              target="_blank"
              :href="data.item.link"
            >
              {{ cutUrl(data.item.link) | truncate(15) }}
            </b-link>
          </template>

          <template v-slot:cell(description)="data">
            {{ data.item.description | truncate(15) }}
          </template>

          <template v-slot:cell(rejectionReason)="data">
            <div v-html="data.item.rejectionReason"></div>
          </template>

          <template v-slot:cell(bidId)="data">
            <nuxt-link
              v-if="data.item.bidId"
              :to="{ name: 'edit-bid', params: { id: data.item.bidId } }"
            >
              View Bid page
            </nuxt-link>
          </template>

          <template v-slot:cell(customer)="data">
            <nuxt-link
              v-if="data.item.customer"
              :to="{
                name: 'edit-customer',
                params: { id: data.item.customer },
              }"
            >
              View Customer page
            </nuxt-link>
          </template>

          <template v-slot:cell(actions)="row">
            <b-button
              class="mr-1 mb-1"
              variant="outline-primary"
              title="Edit"
              size="sm"
              @click="rowClicked(row.item)"
            >
              Edit
            </b-button>
            <DeleteButton
              :id="row.item.id"
              action="leads/delete"
              size="sm"
              class="mr-1 mb-1"
              @deleted="$refs.table.refresh()"
            />
          </template>
        </b-table>
        <nav>
          <b-pagination
            v-if="totalRows > perPage"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            prev-text="Prev"
            next-text="Next"
          />
        </nav>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import DateRangeFilter from '~/components/filter/DateRangeFilter'
import DeleteButton from '~/components/common/DeleteButton'
import DropdownList from '~/components/common/DropdownList'

const tableFields = () => [
  { key: 'fullName', label: 'Full Name' },
  { key: 'title', sortable: true },
  { key: 'company', sortable: true },
  { key: 'contacts', sortable: false },
  { key: 'status', sortable: false },
  { key: 'leadSource', sortable: false },
  { key: 'leadOwner', sortable: false },
  // { key: 'industry', sortable: false },
  { key: 'link', sortable: true },
  // { key: 'country', sortable: true },
  { key: 'description', sortable: false },
  // { key: 'rejectionReason', sortable: false },
  // {
  //   key: 'createdAt',
  //   label: 'Created',
  //   formatter: 'formatDate',
  //   sortable: true,
  // },
  // { key: 'updatedAt', label: 'Last Updated', formatter: 'formatDate' },
  { key: 'bidId', label: 'Bid', sortable: false },
  { key: 'customer' },
  // { key: 'actions' },
]
export default {
  name: 'CTable',
  layout: 'default-backside',
  middleware: 'auth',
  transition: 'animated',
  components: {
    DeleteButton,
    DateRangeFilter,
    DropdownList,
  },
  inheritAttrs: false,
  data: () => {
    return {
      caption: 'Leads',
      fields: tableFields(),
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      isBusy: false,
      sortBy: 'createdAt',
      sortDesc: true,
      query: '',
      filter: {
        leadSource: null,
        status: null,
        owner: null,
      },
      dateRange: {
        startDate: null,
        endDate: null,
      },
    }
  },
  computed: {
    captions() {
      return this.fields
    },
  },
  watch: {
    filter: {
      handler(val) {
        this.onFilter()
      },
      deep: true,
    },
    dateRange: {
      handler(val) {
        this.onFilter()
      },
      deep: true,
    },
  },
  methods: {
    ...mapActions({
      fetchLeadsList: 'leads/fetchList',
    }),
    myProvider(ctx) {
      this.isBusy = true
      const params = {
        page: ctx.currentPage,
        perPage: ctx.perPage,
        sort: ctx.sortBy
          ? ctx.sortDesc
            ? `-${ctx.sortBy}`
            : ctx.sortBy
          : null,
        query: ctx.filter || null,
        ...this.filter,
        dateFrom: this.dateRange.startDate
          ? this.$moment(this.dateRange.startDate).format('YYYY-MM-DD')
          : null,
        dateTo: this.dateRange.endDate
          ? this.$moment(this.dateRange.endDate).format('YYYY-MM-DD')
          : null,
      }
      const promise = this.fetchLeadsList(params)

      return promise
        .then(({ data, meta }) => {
          this.isBusy = false
          this.totalRows = meta.totalItems
          return data
        })
        .catch(() => {
          this.isBusy = false
          return []
        })
    },
    rowClicked(item) {
      this.$emit('row-clicked', item)
      this.$router.push({ name: 'edit-lead', params: { id: item.id } })
    },
    formatDate(value, key, item) {
      return value ? this.$moment(value).format('DD.MM.YYYY (HH:mm)') : ''
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    onFilter() {
      this.currentPage = 1
      this.refreshTable()
    },
    onClearFilter(key) {
      if (key) {
        this.filter[key] = null
      } else {
        this.query = ''
        Object.keys(this.filter).forEach((e) => (this.filter[e] = null))
        Object.keys(this.dateRange).forEach((e) => (this.dateRange[e] = null))
      }
      this.sortBy = 'createdAt'
      this.sortDesc = true
    },
    refreshTable() {
      this.$refs.table.refresh()
    },
    cutUrl(url) {
      return url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, '')
    },
  },
}
</script>
