<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <b-row>
      <b-col class="mb-2">
        <GoBackButton />
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12" lg="8">
        <b-card>
          <div slot="header">
            <strong>{{ caption }}</strong>
            <div class="card-header-actions">
              created at:
              <strong>
                {{ $moment(lead.createdAt).format('DD.MM.YYYY (HH:mm)') }}
              </strong>
            </div>
          </div>
          <b-form class="row">
            <b-col sm="12" class="mb-2">
              <div v-if="lead.bidId" class="text-right">
                <b-link
                  :to="{
                    name: 'edit-bid',
                    params: { id: lead.bidId },
                  }"
                >
                  View Bid page
                </b-link>
              </div>
              <div class="text-right">
                <b-button
                  v-if="!lead.customer"
                  class="px-3"
                  variant="warning"
                  size="sm"
                  title="Convert to Customer"
                  @click="showCreateCustomerForm = true"
                >
                  Convert to Customer
                </b-button>
                <b-link
                  v-else
                  :to="{
                    name: 'edit-customer',
                    params: { id: lead.customer },
                  }"
                >
                  View Customer page
                </b-link>
              </div>
            </b-col>
            <b-col sm="12" xl="6">
              <b-row>
                <b-col>
                  <b-form-group label="Lead Owner:" label-for="lead-owner">
                    <DropdownList
                      id="owner"
                      v-model="form.owner"
                      action="fetchSales"
                      getter="sales"
                      :class="{
                        'is-invalid': errors.fields && errors.fields.owner,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.owner"
                      id="input-lead-owner-feedback"
                    >
                      {{ errors.fields.owner }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Lead Source:" label-for="lead-source">
                    <DropdownList
                      id="lead-source"
                      v-model="form.leadSource"
                      action="leads/fetchSourceList"
                      getter="leads/sourceList"
                      :class="{
                        'is-invalid': errors.fields && errors.fields.leadSource,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.leadSource"
                      id="input-lead-source-feedback"
                    >
                      {{ errors.fields.leadSource }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Industry:" label-for="industry">
                    <DropdownList
                      id="industry"
                      v-model="form.industry"
                      action="fetchIndustries"
                      getter="industries"
                      :class="{
                        'is-invalid': errors.fields && errors.fields.industry,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.industry"
                      id="input-industry-feedback"
                    >
                      {{ errors.fields.industry }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Status:" label-for="status">
                    <DropdownList
                      id="status"
                      v-model="form.status"
                      action="leads/fetchStatusList"
                      getter="leads/statusList"
                      :class="{
                        'is-invalid': errors.fields && errors.fields.status,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.status"
                      id="input-status-feedback"
                    >
                      {{ errors.fields.status }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="First name:" label-for="first-name">
                    <b-form-input
                      id="firts-name"
                      v-model="form.firstName"
                      autocomplete="firstName"
                      aria-describedby="input-first-name-feedback"
                      trim
                      :class="{
                        'is-invalid': errors.fields && errors.fields.firstName,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.firstName"
                      id="input-first-name-feedback"
                    >
                      {{ errors.fields.firstName }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Last name:" label-for="last-name">
                    <b-form-input
                      id="last-name"
                      v-model="form.lastName"
                      autocomplete="lastName"
                      aria-describedby="input-last-name-feedback"
                      trim
                      :class="{
                        'is-invalid': errors.fields && errors.fields.lastName,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.lastName"
                      id="input-last-name-feedback"
                    >
                      {{ errors.fields.lastName }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Title:" label-for="title">
                    <b-form-input
                      id="title"
                      v-model="form.title"
                      autocomplete="title"
                      aria-describedby="input-title-feedback"
                      trim
                      :class="{
                        'is-invalid': errors.fields && errors.fields.title,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.title"
                      id="input-title-feedback"
                    >
                      {{ errors.fields.title }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Link:" label-for="link">
                    <b-input-group>
                      <b-form-input
                        id="link"
                        v-model="form.link"
                        autocomplete="link"
                        aria-describedby="input-link-feedback"
                        trim
                        :class="{
                          'is-invalid': errors.fields && errors.fields.link,
                        }"
                      />
                      <b-input-group-append v-if="form.link">
                        <b-button
                          variant="light"
                          target="_blank"
                          :href="form.link"
                        >
                          <b-icon icon="box-arrow-up-right"></b-icon>
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.link"
                      id="input-link-feedback"
                    >
                      {{ errors.fields.link }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Company:" label-for="company">
                    <b-form-input
                      id="company"
                      v-model="form.company"
                      autocomplete="company"
                      aria-describedby="input-company-feedback"
                      trim
                      :class="{
                        'is-invalid': errors.fields && errors.fields.company,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.company"
                      id="input-company-feedback"
                    >
                      {{ errors.fields.company }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Country:" label-for="country">
                    <DropdownList
                      id="country"
                      v-model="form.country"
                      action="fetchCountries"
                      getter="countries"
                      :class="{
                        'is-invalid': errors.fields && errors.fields.country,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.country"
                      id="input-country-feedback"
                    >
                      {{ errors.fields.country }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Address:" label-for="address">
                    <b-form-input
                      id="address"
                      v-model="form.address"
                      autocomplete="address"
                      aria-describedby="input-address-feedback"
                      trim
                      :class="{
                        'is-invalid': errors.fields && errors.fields.address,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.address"
                      id="input-address-feedback"
                    >
                      {{ errors.fields.address }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
            <b-col sm="12" xl="6">
              <b-row>
                <b-col>
                  <b-form-group label="E-mail:" label-for="email">
                    <b-form-input
                      id="email"
                      v-model="form.email"
                      autocomplete="email"
                      aria-describedby="input-email-feedback"
                      trim
                      :class="{
                        'is-invalid': errors.fields && errors.fields.email,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.email"
                      id="input-email-feedback"
                    >
                      {{ errors.fields.email }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Phone:" label-for="phone">
                    <b-form-input
                      id="phone"
                      v-model="form.phone"
                      autocomplete="phone"
                      aria-describedby="input-phone-feedback"
                      trim
                      :class="{
                        'is-invalid': errors.fields && errors.fields.phone,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.phone"
                      id="input-phone-feedback"
                    >
                      {{ errors.fields.phone }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Skype:" label-for="skype">
                    <b-form-input
                      id="skype"
                      v-model="form.skype"
                      autocomplete="skype"
                      aria-describedby="input-skype-feedback"
                      trim
                      :class="{
                        'is-invalid': errors.fields && errors.fields.skype,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.skype"
                      id="input-skype-feedback"
                    >
                      {{ errors.fields.skype }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="LinkedIn:" label-for="linkedin">
                    <b-input-group>
                      <b-form-input
                        id="linkedin"
                        v-model="form.linkedin"
                        autocomplete="linkedin"
                        aria-describedby="input-linkedin-feedback"
                        trim
                        :class="{
                          'is-invalid': errors.fields && errors.fields.linkedin,
                        }"
                      />
                      <b-input-group-append v-if="form.linkedin">
                        <b-button
                          variant="light"
                          target="_blank"
                          :href="form.linkedin"
                        >
                          <b-icon icon="box-arrow-up-right"></b-icon>
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.linkedin"
                      id="input-linkedin-feedback"
                    >
                      {{ errors.fields.linkedin }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Website:" label-for="website">
                    <b-input-group>
                      <b-form-input
                        id="website"
                        v-model="form.website"
                        autocomplete="website"
                        aria-describedby="input-website-feedback"
                        trim
                        :class="{
                          'is-invalid': errors.fields && errors.fields.website,
                        }"
                      />
                      <b-input-group-append v-if="form.website">
                        <b-button
                          variant="light"
                          target="_blank"
                          :href="form.website"
                        >
                          <b-icon icon="box-arrow-up-right"></b-icon>
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.website"
                      id="input-website-feedback"
                    >
                      {{ errors.fields.website }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Description:">
                    <RichTextEditor v-model="form.description" />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.description"
                      :state="!(errors.fields && errors.fields.description)"
                    >
                      {{ errors.fields.description }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Rejection reason:">
                    <RichTextEditor v-model="form.rejectionReason" />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.rejectionReason"
                      :state="!(errors.fields && errors.fields.rejectionReason)"
                    >
                      {{ errors.fields.rejectionReason }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
            <b-col sm="12">
              <div class="text-right">
                <DeleteButton
                  :id="lead.id"
                  action="leads/delete"
                  @deleted="goBack"
                />
                <b-button variant="secondary" @click="goBack">
                  Cancel
                </b-button>
                <b-button
                  type="submit"
                  variant="primary"
                  class="px-3"
                  @click.prevent="onSubmit"
                >
                  Save
                </b-button>
              </div>
            </b-col>
          </b-form>
        </b-card>
      </b-col>
      <b-col sm="12" lg="4">
        <Notes v-if="lead.id" :lead-id="lead.id" />
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12">
        <h3>Lead Activities</h3>
      </b-col>
      <b-col sm="12">
        <ActivityTable :lead="+$route.params.id" />
      </b-col>
    </b-row>
    <b-modal
      v-model="showCreateCustomerForm"
      title="Convert Lead to Customer"
      size="xl"
      hide-footer
    >
      <CreateCustomerForm
        :lead="lead"
        mode="convert"
        @canceled="showCreateCustomerForm = false"
        @saved="toCustomerPage($event)"
      />
    </b-modal>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import RichTextEditor from '~/components/common/RichTextEditor'
import Notes from '~/components/lead/Notes'
import DeleteButton from '~/components/common/DeleteButton'
import DropdownList from '~/components/common/DropdownList'
import GoBackButton from '~/components/common/GoBackButton'
import ActivityTable from '~/components/activity/ActivityTable'
import CreateCustomerForm from '~/components/customer/CreateCustomerForm'

import Lead from '~/models/lead'

export default {
  name: 'EditLead',
  layout: 'default-backside',
  middleware: 'auth',
  transition: 'animated',
  components: {
    Notes,
    ActivityTable,
    GoBackButton,
    RichTextEditor,
    DeleteButton,
    DropdownList,
    CreateCustomerForm,
  },
  data: () => {
    return {
      form: new Lead().store(),
      lead: new Lead(),
      showCreateCustomerForm: false,
    }
  },
  computed: {
    caption() {
      return this.form.title ? this.form.title : this.lead.fullName
    },
  },
  async created() {
    await this.getLead()
  },
  methods: {
    ...mapActions({
      fetchLead: 'leads/fetchById',
      updateLead: 'leads/update',
    }),
    async getLead() {
      this.lead = await this.fetchLead(this.$route.params.id)
      this.form = this.lead.store()
    },
    async onSubmit() {
      try {
        await this.updateLead({
          id: this.$route.params.id,
          ...this.form,
        })
        this.showBasicDialog()
      } catch (e) {}
    },
    goBack() {
      this.$router.back()
    },
    showBasicDialog() {
      this.$bvModal.msgBoxOk('Information successfully updated.', {
        title: 'Lead Information',
      })
    },
    toCustomerPage(customer) {
      this.$router.push({
        name: 'edit-customer',
        params: { id: customer.id },
      })
    },
  },
}
</script>
