<template>
  <div class="admin-users page position-absolute w-100 h-100">
    <h1 class="page-header mx-4">
      {{ title }}
      <small>/ {{ subtitle }}</small>
    </h1>
    <div class="page-content mx-4 h-100">
      <div class="row flex-xl-nowrap" style="min-height: 100%;">
        <div class="list min-height col-12 mb-3">
          <div class="card h-100">
            <div class="card-header">
              <div class="row">
                <div class="title col-2">
                  <h2 class="mb-0">{{ subtitle }}</h2>
                </div>
                <div class="search col-7 col-lg-4">
                  <div class="form-group position-relative mb-0 w-100">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      :placeholder="$t('resortsSearch')"
                      v-model="filter"
                    />
                    <button
                      type="button"
                      class="btn btn-search position-absolute pt-0 h-100"
                      :disabled="!filter"
                      @click="filter = ''"
                    >
                      <i class="ocpx ocpx-icon-search position-relative"></i>
                    </button>
                  </div>
                </div>
                <div class="show-results col-3 d-none d-lg-block">
                  {{ $t("resortsCountItems", [visibleRows, totalRows]) }}
                </div>
                <div class="actions col-3 ml-auto text-right">
                  <a
                    class="btn btn-outline-secondary btn-xs mx-1 text-truncate"
                    href="javascript:void(0);"
                  >
                    <span class="ocpx ocpx-icon-upload"></span>
                    <span class="text d-none d-xl-inline-block">{{
                      $t("resortsUpload")
                    }}</span>
                  </a>
                  <a
                    class="btn btn-outline-secondary btn-xs mx-1 text-truncate"
                    href="javascript:void(0);"
                  >
                    <span class="ocpx ocpx-icon-download"></span>
                    <span class="text d-none d-xl-inline-block">{{
                      $t("resortsDownload")
                    }}</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <b-table
                ref="table"
                striped
                outlined
                hover
                show-empty
                small
                head-variant="dark"
                responsive
                selectable
                select-mode="single"
                selectedVariant="primary"
                :tbody-tr-class="rowClass"
                :stacked="stacked"
                :items="loadRows"
                :fields="columns"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                @row-selected="rowSelected"
              >
                <template slot="check">
                  <span class="ocpx ocpx-icon-check"></span>
                </template>

                <template slot="resortImage" slot-scope="data">
                  <img
                    class="image rounded image"
                    :src="data.item.resortImage"
                  />
                </template>

                <template slot="country" slot-scope="data">{{
                  data.item.country.title
                }}</template>

                <template slot="openingHours" slot-scope="data">{{
                  joinTitles(data.item.openingHours)
                }}</template>

                <template slot="resortSettings" slot-scope="data">{{
                  data.item.resortSettings.title
                }}</template>

                <template slot="resortStatus" slot-scope="data">{{
                  data.item.resortStatus.title
                }}</template>

                <template slot="taxRate" slot-scope="data">{{
                  data.item.taxRate.title
                }}</template>

                <template slot="invoiceFooterText" slot-scope="data">
                  <span
                    v-html="$sanitize(limitText(data.item.invoiceFooterText))"
                  ></span>
                </template>

                <template slot="termsAndConditions" slot-scope="data">
                  <span
                    v-html="$sanitize(limitText(data.item.termsAndConditions))"
                  ></span>
                </template>

                <template slot="privacyPolicy" slot-scope="data">
                  <span
                    v-html="$sanitize(limitText(data.item.privacyPolicy))"
                  ></span>
                </template>
              </b-table>

              <b-row>
                <b-col md="6" class="my-1">
                  <b-pagination
                    class="my-0"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    v-model="currentPage"
                  />
                </b-col>
              </b-row>
            </div>
          </div>
        </div>
      </div>
    </div>
    <resorts-footer
      :totalSelectedRows="totalSelectedRows"
      :selectedResortId="selectedResortId"
      @send="send"
      @multipleDestroy="multipleDestroy"
    ></resorts-footer>
  </div>
</template>

<script>
// @ is an alias to /src
import ResortsFooter from "@/components/resorts/ResortsFooter.vue";
import ResortsApi from "@/components/resorts/ResortsApi.vue";

export default {
  name: "resorts",
  components: {
    "resorts-footer": ResortsFooter
  },
  data() {
    return {
      selectedResortId: 0,
      title: this.$t("resortsTitle"),
      subtitle: this.$t("resortsTitle"),
      selectMode: "single",
      columns: this.loadColumns(),
      rows: [],
      visibleRows: 0,
      totalRows: 0,
      selectedRows: [],
      currentPage: this.$route.query.page
        ? Number.parseInt(this.$route.query.page)
        : 1,
      perPage: this.$route.query.perPage
        ? Number.parseInt(this.$route.query.perPage)
        : 25,
      sortBy: this.$route.query.sortBy || "createdAt",
      sortDesc: this.$route.query.sortDir
        ? this.$route.query.sortDir == "desc"
        : true,
      filter: this.$route.query.searchQuery || ""
    };
  },
  computed: {
    /**
     * Stacked table.
     */
    stacked() {
      return "lg";
    },
    /**
     * Total selected rows.
     */
    totalSelectedRows() {
      let vm = this;

      return vm.selectedRows.length;
    }
  },
  methods: {
    /**
     * Selected rows.
     */
    rowSelected(items) {
      let vm = this;

      /**
       * Selected rows.
       */
      vm.selectedRows = items;
      if (items[0]) {
        this.selectedResortId = items[0].id;
      }
    },
    /**
     * Load columns.
     */
    loadColumns() {
      let vm = this;

      /**
       * Columns.
       */
      return [
        {
          key: "check",
          label: "",
          class: "text-lg-center text-secondary"
        },
        { key: "resortImage", label: "" },
        { key: "title", label: vm.$t("resortsTitle"), sortable: true },
        {
          key: "resortStatus",
          label: vm.$t("resortsStatus"),
          sortable: true
        },
        {
          key: "country",
          label: vm.$t("resortsCountry"),
          sortable: true
        },
        { key: "city", label: vm.$t("resortsCity"), sortable: true },
        {
          key: "municipality",
          label: vm.$t("resortsMunicipality"),
          sortable: true
        },
        {
          key: "address",
          label: vm.$t("resortsAddress"),
          sortable: true
        },
        { key: "zip", label: vm.$t("resortsZip"), sortable: true },
        {
          key: "latitude",
          label: vm.$t("resortsLatitude"),
          sortable: true
        },
        {
          key: "longitude",
          label: vm.$t("resortsLongitude"),
          sortable: true
        },
        {
          key: "invoiceFooterText",
          label: vm.$t("resortsInvoiceFooterText"),
          sortable: true
        },
        {
          key: "invoiceFooterTextUseGlobal",
          label: vm.$t("resortsInvoiceFooterTextUseGlobal"),
          sortable: true
        },
        {
          key: "termsAndConditions",
          label: vm.$t("resortsTermsAndConditions"),
          sortable: true
        },
        {
          key: "termsAndConditionsUseGlobal",
          label: vm.$t("resortsTermsAndConditionsUseGlobal"),
          sortable: true
        },
        {
          key: "privacyPolicy",
          label: vm.$t("resortsPrivacyPolicy"),
          sortable: true
        },
        {
          key: "privacyPolicyUseGlobal",
          label: vm.$t("resortsPrivacyPolicyUseGlobal"),
          sortable: true
        },
        {
          key: "createdAt",
          label: vm.$t("resortsCreatedAt"),
          sortable: true
        },
        {
          key: "updatedAt",
          label: vm.$t("resortsUpdatedAt"),
          sortable: true
        }
      ];
    },
    /**
     * Load rows.
     */
    loadRows(context) {
      let vm = this;

      return ResortsApi.index({
        params: {
          searchQuery: context.filter,
          "page[number]": context.currentPage,
          "page[size]": context.perPage,
          sortBy: context.sortBy,
          sortDir: context.sortDesc == true ? "desc" : "asc"
        }
      }).then(data => {
        let items = [];

        if (data.data) {
          items = _.map(data.data, row => {
            return {
              id: row.id,
              resortImage: row.attributes.resortImage,
              title: row.attributes.title,
              address: row.attributes.address,
              city: row.attributes.city,
              municipality: row.attributes.municipality,
              zip: row.attributes.zip,
              latitude: row.attributes.latitude,
              longitude: row.attributes.longitude,
              invoiceFooterText: row.attributes.invoiceFooterText,
              invoiceFooterTextUseGlobal:
                row.attributes.invoiceFooterTextUseGlobal,
              termsAndConditions: row.attributes.termsAndConditions,
              termsAndConditionsUseGlobal:
                row.attributes.termsAndConditionsUseGlobal,
              privacyPolicy: row.attributes.privacyPolicy,
              privacyPolicyUseGlobal: row.attributes.privacyPolicyUseGlobal,
              createdAt: row.attributes.createdAt,
              updatedAt: row.attributes.updatedAt,
              country: !_.isEmpty(row.relationships.country.data)
                ? _.mapValues(row.relationships.country, value => {
                    return {
                      id: value.id,
                      title: value.attributes.title
                    };
                  }).data
                : {},
              openingHours: !_.isEmpty(row.relationships.openingHours.data)
                ? _.map(row.relationships.openingHours.data, value => {
                    return {
                      id: value.id,
                      title: value.attributes.title
                    };
                  })
                : [],
              resortSettings: !_.isEmpty(row.relationships.resortSettings.data)
                ? _.mapValues(row.relationships.resortSettings, value => {
                    return {
                      id: value.id,
                      title: value.attributes.title
                    };
                  }).data
                : {},
              resortStatus: !_.isEmpty(row.relationships.status.data)
                ? _.mapValues(row.relationships.status, value => {
                    return {
                      id: value.id,
                      title: value.attributes.title
                    };
                  }).data
                : {},
              taxRate: !_.isEmpty(row.relationships.taxRate.data)
                ? _.mapValues(row.relationships.taxRate, value => {
                    return {
                      id: value.id,
                      title: value.attributes.title
                    };
                  }).data
                : {}
            };
          });

          /**
           * Rows.
           */
          vm.rows = items;

          /**
           * Visible rows.
           */
          vm.visibleRows = items.length;

          /**
           * Total rows.
           */
          vm.totalRows = data.meta.totalItems;

          /**
           * Update route query parameters.
           */
          vm.updateRouteQueryParameters(context);
        }

        return items;
      });
    },
    /**
     * Update route query parameters.
     */
    updateRouteQueryParameters(context) {
      let vm = this;

      vm.$router.push({
        name: "resorts",
        query: {
          page: context.currentPage,
          perPage: context.perPage,
          sortBy: context.sortBy,
          sortDir: context.sortDesc == true ? "desc" : "asc",
          searchQuery: context.filter
        }
      });
    },
    /**
     * Clear selection.
     */
    clearSelection() {
      let vm = this;

      /**
       * Clear selected rows.
       */
      vm.$refs.table.clearSelected();
    },
    /**
     * Refresh table.
     */
    refresh() {
      let vm = this;

      vm.$refs.table.refresh();
    },
    /**
     * Store.
     */
    store() {
      let vm = this;

      /**
       * Notify.
       */
      vm.$notify({
        group: "bottom-left",
        title: "success",
        text: vm.$t("resortsAddedMessage"),
        type: "success",
        data: {
          randomNumber: Math.random()
        }
      });

      /**
       * Refresh.
       */
      vm.refresh();
    },
    /**
     * Update.
     */
    update() {
      let vm = this;

      /**
       * Notify.
       */
      vm.$notify({
        group: "bottom-left",
        title: "success",
        text: vm.$t("resortsUpdatedMessage"),
        type: "success",
        data: {
          randomNumber: Math.random()
        }
      });

      /**
       * Refresh.
       */
      vm.refresh();
    },
    /**
     * Multiple destroy.
     */
    multipleDestroy() {
      let vm = this;
      let id = vm.selectedResortId;

      ResortsApi.destroy(id).then(data => {
        if (data) {
          /**
           * Clear selection.
           */
          vm.clearSelection();

          /**
           * Refresh.
           */
          vm.refresh();

          /**
           * Notify.
           */
          vm.$swal(vm.$t("resortsDeletedMessage"));
        }
      });
    },
    /**
     * Send form.
     */
    send() {
      let vm = this;

      vm.sentForm = true;
    },
    /**
     * Row class.
     */
    rowClass(item) {
      if (!item) return;

      return "item-" + item.id;
    },
    /**
     * Join titles.
     */
    joinTitles(object) {
      return _.join(
        _.map(object, value => {
          return value.title;
        }),
        ", "
      );
    },
    /**
     * Limit text.
     */
    limitText(text, limit = 100) {
      if (text.length > limit) {
        return text.substring(0, limit) + "...";
      } else {
        return text;
      }
    }
  }
};
</script>

