<template>
  <div>
    <b-row>
      <b-col class="mb-2">
        <GoBackButton />
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12">
        <b-card>
          <CreateUpdateProjectForm @saved="toProjectPage($event)" />
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import CreateUpdateProjectForm from '~/components/project/CreateUpdateProjectForm'
import GoBackButton from '~/components/common/GoBackButton'

export default {
  name: 'ProjectCreate',
  layout: 'default-backside',
  middleware: 'auth',
  transition: 'animated',
  components: { GoBackButton, CreateUpdateProjectForm },
  methods: {
    toProjectPage(project) {
      this.$router.push({
        name: 'edit-project',
        params: { id: project.id },
      })
    },
  },
}
</script>
