<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <b-row class="my-1">
      <b-col xs="12" xl="12" class="my-1">
        <b-row>
          <b-col хs="12" md="6" xl="3" class="mb-1">
            <b-input-group size="sm">
              <b-form-input
                :value="filter.query"
                trim
                type="search"
                :debounce="500"
                placeholder="Search by name, key or url"
                @update="filter.query = $event || null"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  :disabled="!filter.query"
                  @click="onClearFilter('query')"
                >
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="3" class="mb-1">
            <b-input-group size="sm">
              <b-form-input
                :value="filter.nps"
                type="search"
                :debounce="500"
                placeholder="NPS Search"
                @update="filter.nps = $event || null"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter.nps" @click="onClearFilter('nps')">
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="3" class="mb-1">
            <b-input-group size="sm" prepend="$">
              <b-form-input
                :value="filter.rateFrom"
                type="number"
                :debounce="500"
                placeholder="Rate From"
                @update="filter.rateFrom = $event || null"
              ></b-form-input>
              <b-form-input
                :value="filter.rateTo"
                type="number"
                :debounce="500"
                placeholder="Rate To"
                @update="filter.rateTo = $event || null"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  :disabled="!filter.rateFrom || !filter.rateTo"
                  @click="
                    onClearFilter('rateFrom')
                    onClearFilter('rateTo')
                  "
                >
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="3" class="mb-1">
            <b-input-group size="sm" class="flex-sm-nowrap">
              <DropdownList
                v-model="filter.status"
                action="projects/fetchStatusList"
                getter="projects/statusList"
                placeholder="-- Filter by status --"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter.status"
                  @click="onClearFilter('status')"
                >
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
      </b-col>
      <b-col xs="12" xl="12" class="my-1">
        <b-row>
          <b-col хs="12" md="6" xl="3" class="mb-1">
            <b-input-group size="sm" class="flex-sm-nowrap">
              <DropdownList
                v-model="filter.country"
                action="fetchCountries"
                getter="countries"
                placeholder="-- Filter by Country --"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter.country"
                  @click="onClearFilter('country')"
                >
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="3" class="mb-1">
            <b-input-group size="sm" class="flex-sm-nowrap">
              <DropdownList
                v-model="filter.projectManager"
                action="fetchProjectManagers"
                getter="projectManagers"
                placeholder="-- Filter by Project Manager --"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter.projectManager"
                  @click="onClearFilter('projectManager')"
                >
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="3" class="mb-1">
            <DateRangeFilter
              :date-range="dateRange"
              label="Filter by Start date"
              @select="dateRange = $event"
            />
          </b-col>
          <b-col хs="12" md="6" xl="3" class="mb-1">
            <b-button-toolbar class="d-flex justify-content-end">
              <b-button-group size="sm">
                <b-button variant="primary" @click="onClearFilter()">
                  Reset
                </b-button>
              </b-button-group>
            </b-button-toolbar>
          </b-col>
        </b-row>
      </b-col>
      <b-col xs="12" xl="12" class="mb-1">
        <b-button-toolbar>
          <b-button-group size="sm">
            <b-button variant="primary" :to="{ name: 'create-project' }">
              Create
            </b-button>
          </b-button-group>
        </b-button-toolbar>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12">
        <b-table
          ref="table"
          selectable
          :dark="true"
          :hover="true"
          :striped="true"
          :bordered="true"
          :small="false"
          :fixed="false"
          :show-empty="true"
          empty-text="You have not created any project yet"
          responsive="sm"
          :items="myProvider"
          :fields="captions"
          :busy.sync="isBusy"
          :current-page="currentPage"
          :per-page="perPage"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          no-local-sorting
          @row-clicked="rowClicked"
          @filtered="onFiltered"
        >
          <template v-slot:table-busy>
            <div class="text-center text-primary my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <template v-slot:cell(title)="data">
            <div>{{ data.item.title }}</div>
            <div class="text-warning text-right">
              {{ timeConvert(data.item.totalSpendTime) }}
            </div>
          </template>

          <template v-slot:cell(projectManager)="data">
            {{ data.item.projectManager.name }}
          </template>

          <template v-slot:cell(customer)="data">
            {{ data.item.customer.name }}
          </template>

          <!--<template v-slot:cell(projectUrl)="data">
            <div v-if="data.item.projectUrl">
              <a :href="`//${data.item.projectUrl}`" target="_blank">
                {{ data.item.projectUrl }}
              </a>
            </div>
          </template>-->

          <template v-slot:cell(projectUrl)="data">
            <b-link
              v-if="data.item.projectUrl"
              target="_blank"
              :href="data.item.projectUrl"
            >
              {{ cutUrl(data.item.projectUrl) | truncate(15) }}
              <b-icon icon="box-arrow-up-right"></b-icon>
            </b-link>
          </template>

          <template v-slot:cell(status)="data">
            {{ data.item.status.title }}
          </template>

          <template v-slot:cell(country)="data">
            {{ data.item.country.title }}
          </template>

          <template v-slot:cell(description)="data">
            <div v-html="data.item.description"></div>
          </template>

          <template v-slot:cell(actions)="row">
            <b-button
              class="mr-1 mb-1"
              variant="outline-primary"
              title="Edit"
              size="sm"
              @click="rowClicked(row.item)"
            >
              Edit
            </b-button>
          </template>
        </b-table>
        <nav>
          <b-pagination
            v-if="totalRows > perPage"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            prev-text="Prev"
            next-text="Next"
          />
        </nav>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import DateRangeFilter from '~/components/filter/DateRangeFilter'
import DropdownList from '~/components/common/DropdownList'

const tableFields = () => [
  { key: 'title' },
  { key: 'projectKey' },
  { key: 'customer' },
  { key: 'projectUrl' },
  { key: 'rate' },
  { key: 'projectManager' },
  { key: 'country' },

  { key: 'status' },
  { key: 'description' },
  {
    key: 'startDate',
    label: 'Start At',
    formatter: 'formatDate',
  },
  { key: 'nps' },
  { key: 'actions' },
]
export default {
  name: 'Projects',
  layout: 'default-backside',
  middleware: 'auth',
  transition: 'animated',
  components: { DateRangeFilter, DropdownList },
  inheritAttrs: false,
  data: () => {
    return {
      fields: tableFields(),
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      isBusy: false,
      sortBy: 'createdBy',
      sortDesc: true,
      filter: {
        query: null,
        nps: null,
        country: null,
        status: null,
        projectManager: null,
        rateFrom: null,
        rateTo: null,
      },
      dateRange: {
        startDate: null,
        endDate: null,
      },
    }
  },
  computed: {
    captions() {
      return this.fields
    },
  },
  watch: {
    filter: {
      handler(val) {
        this.onFilter()
      },
      deep: true,
    },
    dateRange: {
      handler(val) {
        this.onFilter()
      },
      deep: true,
    },
  },
  methods: {
    ...mapActions({
      fetchProjectsList: 'projects/fetchList',
    }),
    myProvider(ctx) {
      this.isBusy = true
      const params = {
        ...this.filter,
        page: ctx.currentPage,
        perPage: ctx.perPage,
        sort: ctx.sortBy
          ? ctx.sortDesc
            ? `-${ctx.sortBy}`
            : ctx.sortBy
          : null,
        startDateFrom: this.dateRange.startDate
          ? this.$moment(this.dateRange.startDate).format('YYYY-MM-DD')
          : null,
        startDateTo: this.dateRange.endDate
          ? this.$moment(this.dateRange.endDate).format('YYYY-MM-DD')
          : null,
      }
      const promise = this.fetchProjectsList(params)

      return promise
        .then(({ data, meta }) => {
          this.isBusy = false
          this.totalRows = meta.totalItems
          return data
        })
        .catch(() => {
          this.isBusy = false
          return []
        })
    },
    rowClicked(item) {
      this.$emit('row-clicked', item)
      this.$router.push({ name: 'edit-project', params: { id: item.id } })
    },
    formatDate(value, key, item) {
      return value ? this.$moment(value).format('DD MMM YYYY') : ''
    },
    timeConvert(seconds) {
      const hours = seconds / 3600
      const rhours = Math.floor(hours)
      const minutes = (hours - rhours) * 60
      const rminutes = Math.round(minutes)
      return `${rhours}h ${rminutes}m`
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    onFilter() {
      this.currentPage = 1
      this.$refs.table.refresh()
    },
    onClearFilter(key) {
      if (key) {
        this.filter[key] = null
      } else {
        Object.keys(this.filter).forEach((e) => (this.filter[e] = null))
        Object.keys(this.dateRange).forEach((e) => (this.dateRange[e] = null))
      }
      this.sortBy = 'createdAt'
      this.sortDesc = true
    },
    cutUrl(url) {
      return url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, '')
    },
  },
}
</script>
