<div class="starter-container">
  <app-starter-header [page]="page" [route]="route"></app-starter-header>

  <div class="starter-content">
    <div class="starter-content__img">
      <img src="assets/images/starter/sign-in.png" alt="">
    </div>

    <div class="starter-content__form">
      <div class="starter-content__content">
        <form class="starter-form" [formGroup]="form" (ngSubmit)="create()">
          <ng-container *ngIf="options.isCreate; else goToLogin">
            <h1 class="starter-form__title">New Password</h1>
            <label class="form-box"
                   [class.error]="errors.password ||
                                 (form.controls.password.invalid && form.controls.password.touched)">
              <span class="form-box__label">Password</span>
              <input type="password" placeholder="Enter your new password" formControlName="password">
              <span class="error-text">Error text</span>
            </label>
            <div class="starter-form__button">
              <button class="btn lg turquoise" type="submit">Create</button>
            </div>
          </ng-container>
          <ng-template #goToLogin>
            <h1 class="starter-form__title pb">New Password</h1>
            <div class="starter-form__success">
              <img src="assets/images/icons/check.svg" alt="">
              <span>Your password has been created successfully!</span>
            </div>

            <div class="starter-form__button">
              <a class="btn lg turquoise" href="javascript:void(0)" [routerLink]="'/sign-in'">
                Login
              </a>
            </div>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</div>
