<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <b-row>
      <b-col class="mb-2">
        <GoBackButton />
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-card>
          <CreateUpdateProjectForm
            mode="update"
            @deleted="$router.back()"
            @saved="showBasicDialog"
          />
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import CreateUpdateProjectForm from '~/components/project/CreateUpdateProjectForm'
import GoBackButton from '~/components/common/GoBackButton'

export default {
  name: 'EditProject',
  layout: 'default-backside',
  middleware: 'auth',
  transition: 'animated',
  components: {
    GoBackButton,
    CreateUpdateProjectForm,
  },
  methods: {
    showBasicDialog() {
      this.$bvModal.msgBoxOk('Information successfully updated.', {
        title: 'Project Information',
      })
    },
  },
}
</script>
