:host {
  display: block;
}

.starter-content {
  &__img {
    img {
      width: 100%;
      height: auto;
      max-width: 382px;
    }
  }
}

.starter-form {
  &__title {
    padding-bottom: 16px;
  }

  &__button {
    padding-top: 12px;
  }
}
