<div class="starter-container">
  <app-starter-header [page]="page" [route]="route"></app-starter-header>

  <div class="starter-content">
    <div class="starter-content__img">
      <img src="assets/images/starter/sign-in.png" alt="">
    </div>

    <div *ngIf="!options.isSend; else recoverySend" class="starter-content__form">
      <div class="starter-content__content">
        <div class="starter-content__back">
          <a class="link-white" href="javascript:void(0)" [routerLink]="'/sign-in'">
            <i class="icon-back"></i> Back
          </a>
        </div>
        <form class="starter-form" [formGroup]="form" (ngSubmit)="send()">
          <h1 class="starter-form__title">Password Recovery</h1>
          <div class="starter-form__desc">
            Enter the email address you used when you joined and we’ll send you instructions to reset your password.
          </div>
          <label class="form-box"
                 [class.error]="error.email || (form.controls.email.invalid && form.controls.email.touched)">
            <span class="form-box__label">Email Address</span>
            <input type="email" placeholder="john.doe@gmail.com" formControlName="email">
            <span *ngIf="error.email" class="error-text">{{ error.email }}</span>
          </label>
          <div class="starter-form__button">
            <button class="btn lg turquoise" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
    <ng-template #recoverySend>
      <div class="starter-content__form">
        <div class="starter-content__content">
          <div class="starter-form">
            <h1 class="starter-form__title">Password Recovery</h1>
            <div class="starter-form__desc pb">
              If this email address was used to create an account, instructions to reset your password will be sent to
              you.
            </div>
            <div class="starter-form__check-email">
              <strong>Please check your email.</strong>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
