<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <b-row>
      <b-col sm="12" xl="6">
        <b-table
          selectable
          hover
          :dark="false"
          :striped="true"
          :bordered="false"
          :small="true"
          :fixed="false"
          :show-empty="true"
          empty-text="You don't have any task"
          responsive="sm"
          :items="myProvider"
          :fields="captions"
          :busy.sync="isBusy"
          :current-page="currentPage"
          :per-page="perPage"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          no-local-sorting
          @row-clicked="rowClicked"
        >
          <template v-slot:table-busy>
            <div class="text-center text-primary my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <template v-slot:cell(status)="row">
            <span
              class="badge p-1"
              :style="`color: #fff; background-color: ${row.item.status.color}`"
            >
              {{ row.item.status.title }}
            </span>
          </template>

          <template v-slot:cell(priority)="row">
            {{ row.item.priority.title }}
          </template>

          <template v-slot:cell(lead)="row">
            <nuxt-link
              v-if="row.item.lead.id"
              :to="{ name: 'edit-lead', params: { id: row.item.lead.id } }"
            >
              {{ row.item.lead.fullName || row.item.lead.title }}
            </nuxt-link>
          </template>

          <template v-slot:cell(reminder)="row">
            <span v-if="row.item.reminder.id">
              {{ formatDateTime(row) }}
            </span>
          </template>

          <template v-slot:cell(actions)="row">
            <CloseActivityButton
              v-if="row.item.status.id !== 2"
              :id="row.item.id"
              icon
              variant="danger"
              class="mb-1 mr-2"
              @closed="$refs.table.refresh()"
            />
            <DeleteButton
              :id="row.item.id"
              icon
              action="activities/delete"
              variant="danger"
              class="mb-1"
              @deleted="$refs.table.refresh()"
            />
          </template>
        </b-table>
        <nav>
          <b-pagination
            v-if="totalRows > perPage"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            prev-text="Prev"
            next-text="Next"
            size="sm"
          />
        </nav>
      </b-col>
    </b-row>
    <b-modal
      v-model="showCreateUpdateActivityForm"
      :title="modalTitle"
      size="lg"
      hide-footer
    >
      <b-container>
        <CreateUpdateActivityForm
          :mode="mode"
          :activity="activity"
          @saved="
            closeModal()
            showBasicDialog()
          "
          @canceled="showCreateUpdateActivityForm = false"
          @deleted="closeModal"
          @closed="closeModal"
        />
      </b-container>
    </b-modal>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import CloseActivityButton from './CloseActivityButton'
import Activity from '~/models/activity'
import CreateUpdateActivityForm from '~/components/activity/CreateUpdateActivityForm'
import DeleteButton from '~/components/common/DeleteButton'

const tableFields = () => [
  { key: 'title', label: 'Subject' },
  { key: 'status' },
  { key: 'priority' },
  { key: 'lead' },
  { key: 'reminder' },
  { key: 'actions', label: '' },
]
export default {
  name: 'ActivityDashboardTable',
  components: {
    CreateUpdateActivityForm,
    CloseActivityButton,
    DeleteButton,
  },
  data: () => {
    return {
      fields: tableFields(),
      currentPage: 1,
      perPage: 20,
      totalRows: 0,
      isBusy: false,
      sortBy: 'createdAt',
      sortDesc: true,
      modalTitle: 'Crate new Activity',
      showCreateUpdateActivityForm: false,
      mode: 'create',
      activity: new Activity(),
    }
  },
  computed: {
    ...mapGetters({
      statusList: 'activities/statusList',
    }),
    captions() {
      return this.fields
    },
  },
  methods: {
    ...mapActions({
      fetchActivities: 'activities/fetchList',
    }),
    async myProvider(ctx) {
      let items = []
      this.isBusy = true
      const params = {
        page: ctx.currentPage,
        perPage: ctx.perPage,
        sort: ctx.sortBy
          ? ctx.sortDesc
            ? `-${ctx.sortBy}`
            : ctx.sortBy
          : null,
        owner: this.user.id,
      }
      const dateRange = {
        dueDateFrom: this.$moment().format('YYYY-MM-DD'),
        dueDateTo: this.$moment().format('YYYY-MM-DD'),
      }
      try {
        const opened = await this.fetchActivities({
          ...params,
          ...dateRange,
          status: 1,
        })
        const closed = await this.fetchActivities({
          ...params,
          status: 3,
        })
        this.totalRows = +opened.meta.totalItems + +closed.meta.totalItems
        items = [...opened.data, ...closed.data]
      } catch (e) {
      } finally {
        this.isBusy = false
      }
      return items
    },
    rowClicked(item) {
      this.$emit('row-clicked', item)
      this.modalTitle = `${item.title} `
      this.showCreateUpdateActivityForm = true
      this.mode = 'update'
      this.activity = item
    },
    refreshTable() {
      this.$refs.table.refresh()
    },
    closeModal() {
      this.showCreateUpdateActivityForm = false
      this.refreshTable()
    },
    showBasicDialog() {
      this.$bvModal.msgBoxOk('Information successfully saved.', {
        title: 'Activity Information',
      })
    },
    formatDateTime({ item }) {
      if (item.status.id === 3 && item.reminder.date) {
        return this.$moment(item.reminder.date).format('DD MMM YYYY')
      } else {
        return 'at ' + item.reminder.time.split(':').slice(0, -1).join(':')
      }
    },
  },
}
</script>
