<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <b-row class="my-1">
      <b-col xs="12" xl="1" class="my-1">
        <b-button-toolbar>
          <b-button-group size="sm">
            <b-button variant="primary" @click="createNewActivity">
              Create
            </b-button>
          </b-button-group>
        </b-button-toolbar>
      </b-col>
      <b-col xs="12" xl="11" class="my-1">
        <b-row>
          <b-col хs="12" md="6" xl="2" class="mb-1">
            <b-input-group size="sm">
              <b-form-input
                id="filterInput"
                v-model.trim="query"
                type="search"
                :debounce="500"
                placeholder="Search by subject"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!query" @click="query = ''">
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="2" class="mb-1">
            <b-input-group size="sm" class="flex-sm-nowrap">
              <DropdownList
                v-model="filter.status"
                action="activities/fetchStatusList"
                getter="activities/statusList"
                placeholder="-- Filter by status --"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter.status"
                  @click="onClearFilter('status')"
                >
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="2" class="mb-1">
            <b-input-group size="sm" class="flex-sm-nowrap">
              <DropdownList
                id="filterByPriority"
                v-model="filter.priority"
                action="activities/fetchPriorityList"
                getter="activities/priorityList"
                placeholder="-- Filter by priority --"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter.priority"
                  @click="onClearFilter('priority')"
                >
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="2" class="mb-1">
            <b-input-group size="sm" class="flex-sm-nowrap">
              <DropdownList
                id="filterByOwner"
                v-model="filter.owner"
                action="fetchSales"
                getter="sales"
                placeholder="-- Filter by owner --"
              />
              <b-input-group-append>
                <b-button
                  :disabled="!filter.owner"
                  @click="onClearFilter('owner')"
                >
                  Clear
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col хs="12" md="6" xl="3" class="mb-1">
            <DateRangeFilter
              :date-range="dateRange"
              label="Filter by due date"
              @select="dateRange = $event"
            />
          </b-col>
          <b-col xs="12" md="6" xl="1" class="mb-1">
            <b-button-toolbar class="d-flex justify-content-end">
              <b-button-group size="sm">
                <b-button variant="primary" @click="onClearFilter()">
                  Reset
                </b-button>
              </b-button-group>
            </b-button-toolbar>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12">
        <b-table
          ref="table"
          selectable
          hover
          :dark="true"
          :striped="true"
          :bordered="true"
          :small="false"
          :fixed="true"
          :show-empty="true"
          empty-text="You don't have any task"
          responsive="sm"
          :items="myProvider"
          :fields="captions"
          :busy.sync="isBusy"
          :current-page="currentPage"
          :per-page="perPage"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :filter="query"
          no-local-sorting
          @row-clicked="rowClicked"
          @filtered="onFiltered"
        >
          <template v-slot:table-busy>
            <div class="text-center text-primary my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <template v-slot:cell(status)="row">
            <span
              class="badge p-1"
              :style="`color: #fff; background-color: ${row.item.status.color}`"
            >
              {{ row.item.status.title }}
            </span>
          </template>

          <template v-slot:cell(priority)="row">
            {{ row.item.priority.title }}
          </template>

          <template v-slot:cell(owner)="row">
            {{ row.item.owner.name }}
          </template>

          <template v-slot:cell(lead)="row">
            <nuxt-link
              v-if="row.item.lead.id"
              :to="{ name: 'edit-lead', params: { id: row.item.lead.id } }"
            >
              {{ row.item.lead.fullName || row.item.lead.title }}
            </nuxt-link>
          </template>

          <template v-slot:cell(reminder)="row">
            <span v-if="row.item.reminder.id && row.item.reminder.type == 1">
              {{ $moment(row.item.reminder.date).format('DD MMM YYYY') }} at
              {{ formatTime(row.item.reminder.time) }}
            </span>
            <span v-if="row.item.reminder.id && row.item.reminder.type == 2">
              Every day at {{ formatTime(row.item.reminder.time) }}
            </span>
          </template>

          <template v-slot:cell(actions)="row">
            <CloseActivityButton
              v-if="row.item.status.id !== 2"
              :id="row.item.id"
              size="sm"
              class="mb-1"
              @closed="$refs.table.refresh()"
            />
            <DeleteButton
              :id="row.item.id"
              action="activities/delete"
              size="sm"
              class="mb-1"
              @deleted="$refs.table.refresh()"
            />
          </template>
        </b-table>
        <nav>
          <b-pagination
            v-if="totalRows > perPage"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            prev-text="Prev"
            next-text="Next"
          />
        </nav>
      </b-col>
    </b-row>
    <b-modal
      v-model="showCreateUpdateActivityForm"
      :title="modalTitle"
      size="lg"
      hide-footer
    >
      <b-container>
        <CreateUpdateActivityForm
          :mode="mode"
          :activity="activity"
          :lead="lead"
          @saved="
            closeModal()
            showBasicDialog()
          "
          @canceled="showCreateUpdateActivityForm = false"
          @deleted="closeModal"
          @closed="closeModal"
        />
      </b-container>
    </b-modal>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import CloseActivityButton from './CloseActivityButton'
import Activity from '~/models/activity'
import DateRangeFilter from '~/components/filter/DateRangeFilter'
import CreateUpdateActivityForm from '~/components/activity/CreateUpdateActivityForm'
import DeleteButton from '~/components/common/DeleteButton'
import DropdownList from '~/components/common/DropdownList'

const tableFields = () => [
  { key: 'title', label: 'Subject' },
  { key: 'status' },
  { key: 'dueDate', formatter: 'formatDate' },
  { key: 'priority' },
  { key: 'owner' },
  { key: 'lead' },
  { key: 'reminder' },
  { key: 'actions' },
]
export default {
  name: 'ActivityTable',
  components: {
    CloseActivityButton,
    DeleteButton,
    DateRangeFilter,
    CreateUpdateActivityForm,
    DropdownList,
  },
  props: {
    lead: {
      type: Number,
      default: null,
    },
  },
  data: () => {
    return {
      fields: tableFields(),
      currentPage: 1,
      perPage: 20,
      totalRows: 0,
      isBusy: false,
      sortBy: 'createdAt',
      sortDesc: true,
      query: '',
      filter: {
        leadSource: null,
        status: null,
        owner: null,
        priority: null,
      },
      dateRange: {
        startDate: null,
        endDate: null,
      },
      modalTitle: 'Crate new Activity',
      showCreateUpdateActivityForm: false,
      mode: 'create',
      activity: new Activity(),
    }
  },
  computed: {
    captions() {
      return this.fields
    },
  },
  watch: {
    filter: {
      handler(val) {
        this.onFilter()
      },
      deep: true,
    },
    dateRange: {
      handler(val) {
        this.onFilter()
      },
      deep: true,
    },
  },
  methods: {
    ...mapActions({
      fetchActivities: 'activities/fetchList',
    }),
    async myProvider(ctx) {
      let items = []
      this.isBusy = true
      const params = {
        page: ctx.currentPage,
        perPage: ctx.perPage,
        sort: ctx.sortBy
          ? ctx.sortDesc
            ? `-${ctx.sortBy}`
            : ctx.sortBy
          : null,
        query: ctx.filter || null,
        ...this.filter,
        dueDateFrom: this.dateRange.startDate
          ? this.$moment(this.dateRange.startDate).format('YYYY-MM-DD')
          : null,
        dueDateTo: this.dateRange.endDate
          ? this.$moment(this.dateRange.endDate).format('YYYY-MM-DD')
          : null,
        lead: this.lead || null,
      }
      try {
        const { data, meta } = await this.fetchActivities(params)
        this.totalRows = meta.totalItems
        items = data
      } catch (e) {
      } finally {
        this.isBusy = false
      }
      return items
    },
    rowClicked(item) {
      this.$emit('row-clicked', item)
      this.modalTitle = `${item.title}`
      this.showCreateUpdateActivityForm = true
      this.mode = 'update'
      this.activity = item
    },
    createNewActivity() {
      this.modalTitle = 'Create new Task'
      this.showCreateUpdateActivityForm = true
      this.mode = 'create'
      this.activity = new Activity()
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    onFilter() {
      this.currentPage = 1
      this.refreshTable()
    },
    onClearFilter(key) {
      if (key) {
        this.filter[key] = null
      } else {
        this.query = ''
        Object.keys(this.filter).forEach((e) => (this.filter[e] = null))
        Object.keys(this.dateRange).forEach((e) => (this.dateRange[e] = null))
      }
      this.sortBy = 'createdAt'
      this.sortDesc = true
    },
    refreshTable() {
      this.$refs.table.refresh()
    },
    closeModal() {
      this.showCreateUpdateActivityForm = false
      this.refreshTable()
    },
    showBasicDialog() {
      this.$bvModal.msgBoxOk('Information successfully saved.', {
        title: 'Activity Information',
      })
    },
    formatDate(value, key, item) {
      return value ? this.$moment(value).format('DD MMM YYYY') : ''
    },
    formatTime(time) {
      return time.split(':').slice(0, -1).join(':')
    },
  },
}
</script>
