<template>
  <span v-if="icon" :title="title">
    <b-icon
      :variant="variant"
      icon="x-circle-fill"
      @click.stop="onClose()"
    ></b-icon>
  </span>
  <b-button
    v-else
    :variant="variant"
    :title="title"
    :size="size"
    @click="onClose()"
  >
    {{ title }}
  </b-button>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'CloseActivityButton',
  props: {
    id: {
      type: Number,
      default: null,
    },
    action: {
      type: String,
      default: '',
      require: true,
    },
    variant: {
      type: String,
      default: 'outline-danger',
    },
    title: {
      type: String,
      default: 'Close',
    },
    size: {
      type: String,
      default: '',
    },
    icon: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    ...mapActions({
      close: 'activities/close',
    }),
    onClose() {
      try {
        this.$bvModal
          .msgBoxConfirm(
            'Are you sure you want to close this activity? After that, you can no longer do any actions with this activity.',
            {
              title: 'Please Confirm',
              size: 'sm',
              buttonSize: 'sm',
              okVariant: 'danger',
              okTitle: 'YES',
              cancelTitle: 'NO',
              footerClass: 'p-2',
              hideHeaderClose: false,
              centered: true,
            }
          )
          .then(async (value) => {
            if (value && this.id) {
              await this.close(this.id)
              this.$emit('closed')
            }
          })
      } catch (e) {}
    },
  },
}
</script>

<style scoped></style>
