<template>
  <b-form class="row">
    <b-col lg="6" md="12" sm="12">
      <b-row>
        <b-col>
          <b-form-group label="Subject:" label-for="title">
            <b-form-input
              id="title"
              v-model="form.title"
              autocomplete="title"
              aria-describedby="input-title-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.title,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.title"
              id="input-title-feedback"
            >
              {{ errors.fields.title }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Owner:" label-for="owner">
            <DropdownList
              id="owner"
              v-model="form.owner"
              action="fetchSales"
              getter="sales"
              :class="{
                'is-invalid': errors.fields && errors.fields.owner,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.owner"
              id="input-owner-feedback"
            >
              {{ errors.fields.owner }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Lead:" label-for="lead">
            <b-input-group class="flex-sm-nowrap">
              <DropdownLeadList v-model="form.lead" :disabled="disabled" />
              <b-input-group-prepend v-if="disabled">
                <b-button
                  v-clipboard:copy="leadTitle"
                  v-clipboard:success="onCopy"
                  v-clipboard:error="onError"
                  :variant="buttonVariant"
                >
                  Copy
                </b-button>
              </b-input-group-prepend>
            </b-input-group>
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.lead"
              id="input-lead-feedback"
              :state="!(errors.fields && errors.fields.lead)"
            >
              {{ errors.fields.lead }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col lg="6" md="12" sm="12">
      <b-row>
        <b-col>
          <b-form-group label="Due Date:" label-for="dueDate">
            <b-form-datepicker
              id="dueDate"
              v-model="form.dueDate"
              :min="$moment().format('YYYY-MM-DD')"
              start-weekday="1"
              locale="en"
              :class="{
                'is-invalid': errors.fields && errors.fields.dueDate,
              }"
            ></b-form-datepicker>
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.dueDate"
              id="input-dueDate-feedback"
            >
              {{ errors.fields.dueDate }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Priority:" label-for="priority">
            <DropdownList
              id="priority"
              v-model="form.priority"
              action="activities/fetchPriorityList"
              getter="activities/priorityList"
              :class="{
                'is-invalid': errors.fields && errors.fields.priority,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.priority"
              id="input-priority-feedback"
            >
              {{ errors.fields.priority }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Reminder:" label-for="isRemind">
            <b-form-checkbox id="isRemind" v-model="isRemind" size="lg" switch>
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col sm="12">
      <b-collapse :visible="isRemind" class="mt-2">
        <b-card no-body class="p-3">
          <b-form-group label="Reminder options" class="label-w-100">
            <b-form-radio
              v-model="reminder.type"
              name="reminder-type"
              value="1"
              class="mb-4"
            >
              <b-row>
                <b-col xs="2" class="mb-2">On day</b-col>
                <b-col
                  v-if="reminder.type == 1"
                  xs="10"
                  md="5"
                  style="margin-top: -7px;"
                >
                  <b-form-datepicker
                    v-model="reminder.date"
                    :min="$moment().format('YYYY-MM-DD')"
                    start-weekday="1"
                    locale="en"
                    :class="{
                      'is-invalid': errors.fields && errors.fields.date,
                    }"
                  ></b-form-datepicker>
                  <b-form-invalid-feedback
                    v-if="errors.fields && errors.fields.date"
                  >
                    {{ errors.fields.date }}
                  </b-form-invalid-feedback>
                </b-col>
                <b-col v-if="reminder.type == 1" xs="1" class="mb-2">at</b-col>
                <b-col
                  v-if="reminder.type == 1"
                  xs="10"
                  md="4"
                  style="margin-top: -7px;"
                >
                  <b-form-timepicker
                    v-model="reminder.time"
                    label-now-button="Current time"
                    minutes-step="10"
                    now-button
                    no-close-button
                    hide-header
                    locale="ru"
                    :class="{
                      'is-invalid': errors.fields && errors.fields.time,
                    }"
                  ></b-form-timepicker>
                  <b-form-invalid-feedback
                    v-if="errors.fields && errors.fields.time"
                  >
                    {{ errors.fields.time }}
                  </b-form-invalid-feedback>
                </b-col>
              </b-row>
            </b-form-radio>
            <b-form-radio
              v-model="reminder.type"
              name="reminder-type"
              value="2"
              class="mb-4"
            >
              <b-row>
                <b-col xm="2" md="2" class="mb-2">Every day at</b-col>
                <b-col
                  v-if="reminder.type == 2"
                  xs="10"
                  md="5"
                  style="margin-top: -7px;"
                >
                  <b-form-timepicker
                    v-model="reminder.time"
                    label-now-button="Current time"
                    minutes-step="10"
                    now-button
                    no-close-button
                    hide-header
                    locale="ru"
                    :class="{
                      'is-invalid': errors.fields && errors.fields.time,
                    }"
                  ></b-form-timepicker>
                  <b-form-invalid-feedback
                    v-if="errors.fields && errors.fields.time"
                  >
                    {{ errors.fields.time }}
                  </b-form-invalid-feedback>
                </b-col>
              </b-row>
            </b-form-radio>
            <b-form-checkbox-group
              id="reminder-alerts"
              v-model="reminder.alerts"
              name="alerts"
            >
              <b-form-checkbox value="1" disabled>
                to Email
              </b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
        </b-card>
      </b-collapse>
    </b-col>
    <b-col sm="12">
      <div class="text-right">
        <CloseActivityButton
          v-if="currentActivity.status.id !== 2"
          :id="currentActivity.id"
          @closed="$emit('closed')"
        />
        <DeleteButton
          v-if="showDeleteButton"
          :id="currentActivity.id"
          action="activities/delete"
          @deleted="$emit('deleted')"
        />
        <b-button variant="secondary" @click="onCancel">
          Cancel
        </b-button>
        <b-button
          v-if="currentActivity.status.id !== 2"
          type="submit"
          variant="primary"
          class="px-3"
          @click.prevent="onSubmit"
        >
          Save
        </b-button>
      </div>
    </b-col>
  </b-form>
</template>

<script>
import { mapActions } from 'vuex'
import CloseActivityButton from './CloseActivityButton'
import DeleteButton from '~/components/common/DeleteButton'
import Activity from '~/models/activity'
import Reminder from '~/models/activity/Reminder'
import DropdownLeadList from '~/components/lead/DropdownList'
import DropdownList from '~/components/common/DropdownList'

export default {
  name: 'CreateUpdateActivityForm',
  components: {
    CloseActivityButton,
    DropdownLeadList,
    DeleteButton,
    DropdownList,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    activity: {
      type: Activity,
      default: () => new Activity(),
    },
    lead: {
      type: Number,
      default: null,
    },
  },
  data: () => {
    return {
      form: new Activity().store(),
      reminder: new Reminder(),
      currentActivity: new Activity(),
      isRemind: false,
      toggle: false,
    }
  },
  computed: {
    disabled() {
      return this.currentActivity.lead.id && this.mode === 'update'
    },
    leadTitle() {
      return (
        this.currentActivity.lead.fullName || this.currentActivity.lead.title
      )
    },
    showDeleteButton() {
      return this.mode === 'update'
    },
    buttonVariant() {
      return !this.toggle ? 'light' : 'success'
    },
  },
  watch: {
    toggle(v) {
      if (v) {
        setTimeout(() => (this.toggle = false), 300)
      }
    },
    'form.dueDate'(v) {
      this.reminder.date = v
    },
  },
  async created() {
    if (this.$route.name === 'edit-activity' && this.$route.params.id) {
      this.currentActivity = await this.fetchActivity(this.$route.params.id)
    } else {
      this.currentActivity = this.activity
    }
    this.form = this.currentActivity.store()
    if (this.mode === 'create' && this.lead) {
      this.form.lead = this.lead
    }
    this.reminder = this.currentActivity.reminder.store()
    this.isRemind = !!this.currentActivity.reminder.id
  },
  methods: {
    ...mapActions({
      createActivity: 'activities/create',
      updateActivity: 'activities/update',
      fetchActivity: 'activities/fetchById',
    }),
    async onSubmit() {
      this.reminder.date = +this.reminder.type === 2 ? null : this.reminder.date
      this.reminder = this.isRemind ? this.reminder : {}
      try {
        if (this.mode === 'create') {
          await this.createActivity({ ...this.form, ...this.reminder })
        } else if (this.mode === 'update') {
          this.currentActivity = await this.updateActivity({
            id: this.currentActivity.id,
            reminder: this.currentActivity.reminder.id,
            ...this.form,
            ...this.reminder,
          })
        }
        this.$emit('saved')
      } catch (e) {
      } finally {
        this.reminder = !this.isRemind
          ? this.currentActivity.reminder.store()
          : this.reminder
      }
    },
    onCancel() {
      this.form = this.currentActivity.store()
      this.$emit('canceled')
    },
    showErrorDialog(msg) {
      this.$bvModal.msgBoxOk(msg, {
        title: 'Error',
        headerBgVariant: 'danger',
      })
    },
    onCopy(e) {
      this.toggle = !this.toggle
    },
    onError(e) {
      this.showErrorDialog('Failed to copy token')
    },
  },
}
</script>

<style>
.label-w-100 .custom-control-label {
  width: 100% !important;
}
</style>
