<template>
  <div id="footer" class="page-footer position-fixed py-2 px-4">
    <div class="row">
      <div class="left-items col col-md-7 position-relative">
        <div class="d-inline-block" v-if="showActions">
          <span class="marked d-none d-xl-inline-block mr-1">
            <span class="ocpx ocpx-icon-check"></span>
            <span class="text">{{ totalSelectedRows }}</span>
            <span class="text"> {{ $t("resortsMarkedRows") }}</span>
          </span>
          <a
            class="btn btn-outline-secondary btn-xs mx-1 d-none d-xl-inline-block text-truncate"
            href="javascript:void(0);"
            @click="clearSelection"
          >
            <span class="ocpx ocpx-icon-clear"></span>
            <span class="text">{{ $t("resortsClearButton") }}</span>
          </a>
          <a
            class="btn btn-outline-secondary btn-xs mx-1 text-truncate"
            href="javascript:void(0);"
            @click="multipleDestroy"
          >
            <span class="ocpx ocpx-icon-trash"></span>
            <span class="text d-none d-xl-inline-block">{{
              $t("resortsDeleteButton")
            }}</span>
          </a>
          <router-link
            class="btn btn-outline-secondary btn-xs mx-1 text-truncate"
            :to="'/resorts/resort-settings/' + selectedResortId"
          >
            <span class="ocpx ocpx-icon-editdoc"></span>
            <span class="text d-none d-xl-inline-block">{{
              $t("resortsEditButton")
            }}</span>
          </router-link>
        </div>
        <div class="d-inline-block float-right">
          <a
            class="btn btn-outline-secondary btn-sm mx-1 text-truncate"
            href="javascript:void(0);"
            @click="toggleCreateForm"
          >
            <span class="ocpx ocpx-icon-add"></span>
            <span class="text d-none d-xl-inline-block">{{
              $t("resortsAddButton")
            }}</span>
          </a>
        </div>
      </div>
      <div class="right-items col col-md-5 text-right">
        <a
          class="save btn btn-success btn-sm mx-1 text-truncate float-left"
          href="javascript:void(0);"
          @click="send"
        >
          <span class="ocpx ocpx-icon-save"></span>
          <span class="text d-none d-xl-inline-block">{{
            $t("resortsSaveButton")
          }}</span>
        </a>
        <a
          class="information align-middle text-secondary"
          href="javascript:void(0);"
        >
          <span class="ocpx ocpx-icon-information"></span>
        </a>
        <a
          class="settings align-middle text-secondary"
          href="javascript:void(0);"
        >
          <span class="ocpx ocpx-icon-settings"></span>
        </a>
        <a class="copyright align-middle" href="javascript:void(0);">
          <span class="ocpx-icon-publisher"></span>
          <span class="text d-none">OC Publisher</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "resorts-footer",
  props: ["totalSelectedRows", "selectedResortId"],
  data() {
    return {};
  },
  computed: {
    /**
     * Show actions.
     */
    showActions() {
      let vm = this;

      return vm.totalSelectedRows > 0;
    }
  },
  methods: {
    /**
     * Toggle create form.
     */
    toggleCreateForm() {
      let vm = this;

      vm.$emit("toggleCreateForm", true);
    },
    /**
     * Toggle edit form.
     */
    toggleEditForm() {
      let vm = this;

      vm.$emit("toggleEditForm", true);
    },
    /**
     * Clear selection.
     */
    clearSelection() {
      let vm = this;

      vm.$emit("clearSelection", true);
    },
    /**
     * Multiple destroy.
     */
    multipleDestroy() {
      let vm = this;

      /**
       * Confirm delete.
       */
      vm.$swal({
        title: vm.$t("resortsDeleteWarningTitle"),
        text: vm.$t("resortsDeleteWarningText", [vm.totalSelectedRows]),
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(result => {
        if (result) {
          vm.$emit("multipleDestroy", true);
        }
      });
    },
    /**
     * Send form.
     */
    send() {
      let vm = this;

      vm.$emit("send", true);
    }
  }
};
</script>
