<div class="starter-container">
  <app-starter-header [page]="page" [route]="route"></app-starter-header>

  <div class="starter-content">
    <div class="starter-content__img">
      <img src="assets/images/starter/sign-in.png" alt="">
    </div>
    <div class="starter-content__form">
      <div class="starter-content__content">
        <div *ngIf="(signInErrors?.email || (form.controls.email.invalid && form.controls.email.touched)) ||
                    (signInErrors?.password || (form.controls.password.invalid && form.controls.password.touched))"
             class="starter-content__top-form-err">
          <span>
            We couldn’t find an account matching the username and password you entered.
            Please check your username and password and try again.
          </span>
        </div>
        <form class="starter-form" [formGroup]="form" (ngSubmit)="signIn()">
          <h1 class="starter-form__title">Sign in to Customer Marketing Tools</h1>
          <label class="form-box"
                 [class.error]="signInErrors?.email ||
                             (form.controls.email.invalid && form.controls.email.touched)">
            <span class="form-box__label">Email Address</span>
            <input type="email" placeholder="john.doe@gmail.com" formControlName="email">
            <span *ngIf="signInErrors?.email" class="error-text">{{ signInErrors.email }}</span>
          </label>
          <label class="form-box"
                 [class.error]="signInErrors?.password ||
                             (form.controls.password.invalid && form.controls.password.touched)">
            <span class="form-box__flex">
              <span class="form-box__label">Password</span>
              <a class="starter-link" href="javascript:void(0)" [routerLink]="'/password-recovery'">
                Forgot password?
              </a>
            </span>
            <input type="password" placeholder="Enter your password" formControlName="password">
            <span *ngIf="signInErrors?.password" class="error-text">{{ signInErrors.password }}</span>
          </label>
          <div class="starter-form__button">
            <button class="btn lg turquoise" type="submit">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
