<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="4">
          <b-card-group>
            <b-card no-body class="p-1">
              <b-card-body>
                <b-form>
                  <b-alert v-if="errors.message" show variant="danger">
                    {{ errors.message }}
                  </b-alert>
                  <h1>Login</h1>
                  <p class="text-muted">
                    Sign In to your account
                  </p>

                  <b-input-group class="mb-3">
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <i class="icon-user"></i>
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input
                      v-model="form.email"
                      type="text"
                      placeholder="E-mail"
                      autocomplete="email"
                      aria-describedby="input-email-feedback"
                      autofocus
                      trim
                      :class="{
                        'is-invalid':
                          (errors.fields && errors.fields.email) ||
                          errors.message,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.email"
                      id="input-email-feedback"
                    >
                      {{ errors.fields.email }}
                    </b-form-invalid-feedback>
                  </b-input-group>

                  <b-input-group class="mb-3">
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <i class="icon-lock"></i>
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input
                      v-model="form.password"
                      type="password"
                      placeholder="Password"
                      autocomplete="current-password"
                      aria-describedby="input-password-feedback"
                      trim
                      :class="{
                        'is-invalid':
                          (errors.fields && errors.fields.password) ||
                          errors.message,
                      }"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.fields && errors.fields.password"
                      id="input-password-feedback"
                    >
                      {{ errors.fields.password }}
                    </b-form-invalid-feedback>
                  </b-input-group>

                  <b-row>
                    <b-col cols="6">
                      <b-button
                        type="submit"
                        variant="primary"
                        class="px-4"
                        @click.prevent="login"
                      >
                        Login
                      </b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'LoginForm',
  data() {
    return {
      loading: false,
      form: {
        email: '',
        password: '',
      },
    }
  },
  methods: {
    ...mapActions({
      userLogin: 'user/login',
    }),
    async login() {
      this.loading = true
      await this.userLogin(this.form)
      this.loading = false
    },
  },
}
</script>

<style scoped lang="scss">
@import '~assets/style/settings/var';
.sign-up {
  &:hover {
    text-decoration: underline;
  }
}

.or-block {
  display: none;

  @media #{$phone} {
    display: block;
  }
  .reg-option {
    font-size: 16px;

    .line-wrapper {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      width: 100%;

      .line {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        width: 100%;
        height: 1px;
        background: #cccfd3;
      }
    }
    .content {
      left: 0;

      span {
        background: $color-white;
      }
    }
  }
}
</style>
