<template>
  <b-form class="row">
    <b-col lg="6" md="6" sm="12">
      <b-row>
        <b-col>
          <b-form-group label="Bid Source:" label-for="lead-source">
            <DropdownList
              id="lead-source"
              v-model="form.leadSource"
              action="leads/fetchSourceList"
              getter="leads/sourceList"
              :class="{
                'is-invalid': errors.fields && errors.fields.leadSource,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.leadSource"
              id="input-lead-source-feedback"
            >
              {{ errors.fields.leadSource }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Project Name:" label-for="projectName">
            <b-form-input
              id="projectName"
              v-model="form.projectName"
              autocomplete="projectName"
              aria-describedby="input-projectName-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.projectName,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.projectName"
              id="input-projectName-feedback"
            >
              {{ errors.fields.projectName }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Customer Name:" label-for="customerName">
            <b-form-input
              id="customerName"
              v-model="form.customerName"
              autocomplete="customerName"
              aria-describedby="input-customerName-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.customerName,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.customerName"
              id="input-customerName-feedback"
            >
              {{ errors.fields.customerName }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Link:" label-for="link">
            <b-input-group>
              <b-form-input
                id="link"
                v-model="form.link"
                autocomplete="link"
                aria-describedby="input-link-feedback"
                trim
                :class="{
                  'is-invalid': errors.fields && errors.fields.link,
                }"
              />
              <b-input-group-append v-if="form.link">
                <b-button variant="light" target="_blank" :href="form.link">
                  <b-icon icon="box-arrow-up-right"></b-icon>
                </b-button>
              </b-input-group-append>
            </b-input-group>
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.link"
              id="input-link-feedback"
            >
              {{ errors.fields.link }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col lg="6" md="6" sm="12">
      <b-row>
        <b-col>
          <b-form-group label="Status:" label-for="status">
            <DropdownList
              id="status"
              v-model="form.status"
              action="bids/fetchStatusList"
              getter="bids/statusList"
              :class="{
                'is-invalid': errors.fields && errors.fields.status,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.status"
              id="input-status-feedback"
            >
              {{ errors.fields.status }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Comment:">
            <RichTextEditor v-model="form.comment" />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.comment"
              :state="!(errors.fields && errors.fields.comment)"
            >
              {{ errors.fields.comment }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col sm="12">
      <div class="text-right">
        <DeleteButton
          v-if="showDeleteButton"
          :id="currentBid.id"
          action="bids/delete"
          @deleted="$emit('deleted')"
        />
        <b-button variant="secondary" @click="onCancel">
          Cancel
        </b-button>
        <b-button
          type="submit"
          variant="primary"
          class="px-3"
          @click.prevent="onSubmit"
        >
          Save
        </b-button>
      </div>
    </b-col>
  </b-form>
</template>

<script>
import { mapActions } from 'vuex'
import RichTextEditor from '~/components/common/RichTextEditor'
import DeleteButton from '~/components/common/DeleteButton'
import DropdownList from '~/components/common/DropdownList'
import Bid from '~/models/bid'

export default {
  name: 'CreateUpdateBidForm',
  components: {
    RichTextEditor,
    DeleteButton,
    DropdownList,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    bid: {
      type: Bid,
      default: () => new Bid(),
    },
  },
  data: () => {
    return {
      form: new Bid().store(),
      currentBid: new Bid(),
    }
  },
  computed: {
    showDeleteButton() {
      return this.mode === 'update'
    },
  },
  async created() {
    if (this.$route.name === 'edit-bid' && this.$route.params.id) {
      this.currentBid = await this.fetchBid(this.$route.params.id)
    } else {
      this.currentBid = this.bid
    }
    this.form = this.currentBid.store()
  },
  methods: {
    ...mapActions({
      createBid: 'bids/create',
      updateBid: 'bids/update',
      fetchBid: 'bids/fetchById',
    }),
    async onSubmit() {
      try {
        if (this.mode === 'create') {
          await this.createBid(this.form)
        } else if (this.mode === 'update') {
          await this.updateBid({
            id: this.currentBid.id,
            ...this.form,
          })
        }
        this.$emit('saved')
      } catch (e) {}
    },
    onCancel() {
      this.form = this.currentBid.store()
      this.$emit('canceled')
    },
  },
}
</script>
