<div class="starter-container">
  <app-starter-header [page]="page" [route]="route"></app-starter-header>

  <div class="starter-content">
    <div class="starter-content__img">
      <img src="assets/images/starter/sign-up.png" alt="">
    </div>
    <div class="starter-content__form">
      <form *ngIf="notActivated; else activateAccount"
            class="starter-form"
            [formGroup]="form"
            (ngSubmit)="signUp()">
        <h1 class="starter-form__title">Sign up to Customer Marketing Tools</h1>
        <div class="starter-form__flex">
          <label class="form-box"
                 [class.error]="signUpErrors?.firstName ||
                                (form.controls.firstName.invalid && form.controls.firstName.touched)">
            <span class="form-box__label">First Name</span>
            <input type="text" placeholder="John" formControlName="firstName">
            <span *ngIf="signUpErrors?.firstName" class="error-text">{{ signUpErrors.firstName }}</span>
          </label>
          <label class="form-box"
                 [class.error]="signUpErrors?.lastName ||
                               (form.controls.lastName.invalid && form.controls.lastName.touched)">
            <span class="form-box__label">Last Name</span>
            <input type="text" placeholder="Doe" formControlName="lastName">
            <span *ngIf="signUpErrors?.lastName" class="error-text">{{ signUpErrors.lastName }}</span>
          </label>
        </div>
        <label class="form-box"
               [class.error]="signUpErrors?.email ||
                             (form.controls.email.invalid && form.controls.email.touched)">
          <span class="form-box__label">Email Address</span>
          <input type="email" placeholder="john.doe@gmail.com" formControlName="email">
          <span *ngIf="signUpErrors?.email" class="error-text">{{ signUpErrors.email }}</span>
        </label>
        <label class="form-box"
               [class.error]="signUpErrors?.password ||
                             (form.controls.password.invalid && form.controls.password.touched)">
          <span class="form-box__label">Password</span>
          <input type="password" placeholder="Create password" formControlName="password">
          <span *ngIf="signUpErrors?.password" class="error-text">{{ signUpErrors.password }}</span>
        </label>
        <label class="form-box"
               [class.error]="signUpErrors?.passwordConfirm ||
                             (form.controls.passwordConfirm.invalid && form.controls.passwordConfirm.touched)">
          <span class="form-box__label">Confirm Password</span>
          <input type="password" placeholder="Enter password again" formControlName="passwordConfirm">
          <span *ngIf="signUpErrors?.passwordConfirm" class="error-text">{{ signUpErrors.passwordConfirm }}</span>
        </label>
        <div class="starter-form__button">
          <button class="btn lg turquoise" type="submit">Sign Up</button>
        </div>
      </form>

      <ng-template #activateAccount>
        <div class="starter-content__content">
          <div class="starter-form">
            <h1 class="starter-form__title">Activate Account</h1>
            <div class="starter-form__desc pb">Activation link has been sent to your email.</div>
            <div class="starter-form__check-email">
              <strong>Please check your email.</strong>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
