<template>
  <b-form class="row">
    <b-col sm="4">
      <b-row>
        <b-col>
          <b-form-group label="Customer name:" label-for="name">
            <b-form-input
              id="name"
              v-model="form.name"
              autocomplete="name"
              aria-describedby="input-name-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.name,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.name"
              id="input-name-feedback"
            >
              {{ errors.fields.name }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Contact person name:" label-for="person-name">
            <b-form-input
              id="person-name"
              v-model="form.personName"
              autocomplete="personName"
              aria-describedby="input-person-name-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.personName,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.personName"
              id="input-person-name-feedback"
            >
              {{ errors.fields.personName }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="E-mail:" label-for="email">
            <b-form-input
              id="email"
              v-model="form.email"
              autocomplete="email"
              aria-describedby="input-email-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.email,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.email"
              id="input-email-feedback"
            >
              {{ errors.fields.email }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Website:" label-for="website">
            <b-form-input
              id="website"
              v-model="form.website"
              autocomplete="website"
              aria-describedby="input-website-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.website,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.website"
              id="input-website-feedback"
            >
              {{ errors.fields.website }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Country:" label-for="country">
            <DropdownList
              id="country"
              v-model="form.country"
              action="fetchCountries"
              getter="countries"
              :class="{
                'is-invalid': errors.fields && errors.fields.country,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.country"
              id="input-country-feedback"
            >
              {{ errors.fields.country }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Language:" label-for="language">
            <DropdownList
              id="language"
              v-model="form.language"
              action="fetchLanguages"
              getter="languages"
              :class="{
                'is-invalid': errors.fields && errors.fields.language,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.language"
              id="input-language-feedback"
            >
              {{ errors.fields.language }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col sm="4">
      <b-row>
        <b-col>
          <b-form-group label="Status:" label-for="status">
            <DropdownList
              id="status"
              v-model="form.status"
              action="customers/fetchStatusList"
              getter="customers/statusList"
              :class="{
                'is-invalid': errors.fields && errors.fields.status,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.status"
              id="input-status-feedback"
            >
              {{ errors.fields.status }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group
            label="Organisation Type:"
            label-for="organization-type"
          >
            <DropdownList
              id="organization-type"
              v-model="form.organizationType"
              action="customers/fetchOrganizationTypeList"
              getter="customers/organizationTypeList"
              :class="{
                'is-invalid': errors.fields && errors.fields.organizationType,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.organizationType"
              id="input-organization-type-feedback"
            >
              {{ errors.fields.organizationType }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Partnership Type:" label-for="partnership-type">
            <DropdownList
              id="partnership-type"
              v-model="form.partnershipType"
              action="customers/fetchPartnershipTypeList"
              getter="customers/partnershipTypeList"
              :class="{
                'is-invalid': errors.fields && errors.fields.partnershipType,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.partnershipType"
              id="input-partnership-type-feedback"
            >
              {{ errors.fields.partnershipType }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Customer sales:" label-for="sales">
            <DropdownList
              id="sales"
              v-model="form.sales"
              action="fetchSales"
              getter="sales"
              :class="{
                'is-invalid': errors.fields && errors.fields.sales,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.sales"
              id="input-sales-feedback"
            >
              {{ errors.fields.sales }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <!--<b-row>
        <b-col>
          <b-form-group label="Lead:" label-for="lead">
            <LeadDropdownList v-model="form.leadId" disabled />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.leadId"
              id="input-lead-feedback"
              :state="!(errors.fields && errors.fields.leadId)"
            >
              {{ errors.fields.leadId }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>-->
    </b-col>
    <b-col sm="4">
      <b-row>
        <b-col>
          <b-form-group label="Description:">
            <RichTextEditor v-model="form.description" />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.description"
              :state="!(errors.fields && errors.fields.description)"
            >
              {{ errors.fields.description }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Way to contact:">
            <RichTextEditor v-model="form.wayToContact" />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.wayToContact"
              :state="!(errors.fields && errors.fields.wayToContact)"
            >
              {{ errors.fields.wayToContact }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col sm="12">
      <div class="text-right">
        <b-button variant="secondary" @click="onCancel">
          Cancel
        </b-button>
        <b-button
          type="submit"
          variant="primary"
          class="px-3"
          @click.prevent="onSubmit"
        >
          Save
        </b-button>
      </div>
    </b-col>
  </b-form>
</template>

<script>
import { mapActions } from 'vuex'
import RichTextEditor from '~/components/common/RichTextEditor'
import DropdownList from '~/components/common/DropdownList'
import Customer from '~/models/customer'
import Lead from '~/models/lead'

export default {
  name: 'CreateCustomerForm',
  components: { DropdownList, RichTextEditor },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    lead: {
      type: Lead,
      default: () => new Lead(),
    },
  },
  data: () => {
    return {
      form: new Customer().store(),
    }
  },
  created() {
    if (this.lead.id) {
      this.fillCustomerFormFromLead()
    }
  },
  methods: {
    ...mapActions({
      createCustomer: 'customers/create',
      convertLead: 'leads/convert',
    }),
    async onSubmit() {
      try {
        const customer =
          this.lead.id && this.mode === 'convert'
            ? await this.convertLead({ id: this.lead.id, form: this.form })
            : await this.createCustomer(this.form)
        this.$emit('saved', customer)
      } catch (e) {}
    },
    onCancel() {
      this.form = new Customer().store()
      this.$emit('canceled')
    },
    fillCustomerFormFromLead() {
      this.form.name = this.lead.company
      this.form.personName = this.lead.fullName
      this.form.email = this.lead.email
      this.form.website = this.lead.website
      this.form.description = this.lead.description
      this.form.country = this.lead.country.id
      this.form.sales = this.lead.leadOwner.id
    },
  },
}
</script>
