<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <v-select
      :value="value"
      :options="customers"
      :reduce="(o) => o.value"
      searchable
      :filterable="false"
      :disabled="disabled"
      label="text"
      class="w-100"
      @input="onInput"
      @search="onSearch"
    >
      <template v-slot:option="option">
        <span>
          {{ option.text }}
        </span>
      </template>
    </v-select>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'DropdownList',
  model: {
    prop: 'value',
    event: 'input',
  },
  props: {
    value: {
      type: Number,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      customers: [],
      debounce: null,
    }
  },
  watch: {
    async value(cv, ov) {
      if (cv && ov == null) {
        const customer = await this.fetchById(cv)
        this.uniqueCustomers([{ text: customer.name, value: cv, id: cv }])
      }
    },
  },
  async created() {
    if (!this.customers.length) {
      await this.fetchOptions()
    }
  },
  methods: {
    ...mapActions({
      fetchCustomersList: 'customers/fetchList',
      fetchById: 'customers/fetchById',
    }),
    onSearch(query = '') {
      clearTimeout(this.debounce)
      this.debounce = setTimeout(async () => {
        await this.fetchOptions({ query })
      }, 600)
    },
    onInput($event) {
      this.$emit('input', $event)
    },
    async fetchOptions(params = {}) {
      try {
        const { data } = await this.fetchCustomersList(params)
        const customers = data.map((e) => ({
          text: e.title || e.name,
          value: e.id,
          id: e.id,
        }))
        this.uniqueCustomers(customers)
      } catch (e) {
        this.customers = []
      } finally {
      }
    },
    uniqueCustomers(arr) {
      const customers = [...arr, ...this.customers]
      this.customers = Array.from(new Set(customers.map((e) => e.id))).map(
        (id) => {
          return customers.find((e) => e.id === id)
        }
      )
    },
  },
}
</script>

<style lang="scss">
.v-select {
  position: relative;
  flex: 1 1 auto;
  width: auto;
  .vs {
    &__dropdown-toggle {
      background: #ffffff;
      color: #5c6873;
      font-size: 0.8rem;
      font-weight: 400;
      height: calc(1.5em + 0.5rem + 2px);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &__search {
      &::placeholder {
        color: #6a7784;
      }
    }
    &__clear {
      padding: 0 0 1px 0;
    }
  }
}
.form-group .v-select {
  .vs {
    &__dropdown-toggle {
      height: calc(1.5em + 0.75rem + 2px);
      border: 1px solid #e4e7ea;
      font-size: 0.875rem;
      border-radius: 0.25rem;
    }
    &__selected {
      color: #5c6873;
    }
  }
}
.is-invalid {
  .vs {
    &__dropdown-toggle {
      border-color: #f86c6b !important;
    }
    &__clear {
      fill: #f86c6b !important;
    }
  }
}
</style>
