<template>
  <b-form class="row">
    <b-col lg="6" md="6" sm="12">
      <b-row>
        <b-col>
          <b-form-group label="Lead Source:" label-for="lead-source">
            <DropdownList
              id="lead-source"
              v-model="form.leadSource"
              action="leads/fetchSourceList"
              getter="leads/sourceList"
              :class="{
                'is-invalid': errors.fields && errors.fields.leadSource,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.leadSource"
              id="input-lead-source-feedback"
            >
              {{ errors.fields.leadSource }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Industry:" label-for="industry">
            <DropdownList
              id="industry"
              v-model="form.industry"
              action="fetchIndustries"
              getter="industries"
              :class="{
                'is-invalid': errors.fields && errors.fields.industry,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.industry"
              id="input-industry-feedback"
            >
              {{ errors.fields.industry }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="First name:" label-for="first-name">
            <b-form-input
              id="firts-name"
              v-model="form.firstName"
              autocomplete="firstName"
              aria-describedby="input-first-name-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.firstName,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.firstName"
              id="input-first-name-feedback"
            >
              {{ errors.fields.firstName }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Last name:" label-for="last-name">
            <b-form-input
              id="last-name"
              v-model="form.lastName"
              autocomplete="lastName"
              aria-describedby="input-last-name-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.lastName,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.lastName"
              id="input-last-name-feedback"
            >
              {{ errors.fields.lastName }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Title:" label-for="title">
            <b-form-input
              id="title"
              v-model="form.title"
              autocomplete="title"
              aria-describedby="input-title-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.title,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.title"
              id="input-title-feedback"
            >
              {{ errors.fields.title }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Link:" label-for="link">
            <b-input-group>
              <b-form-input
                id="link"
                v-model="form.link"
                autocomplete="link"
                aria-describedby="input-link-feedback"
                trim
                :class="{
                  'is-invalid': errors.fields && errors.fields.link,
                }"
              />
              <b-input-group-append v-if="form.link">
                <b-button variant="light" target="_blank" :href="form.link">
                  <b-icon icon="box-arrow-up-right"></b-icon>
                </b-button>
              </b-input-group-append>
            </b-input-group>
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.link"
              id="input-link-feedback"
            >
              {{ errors.fields.link }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Company:" label-for="company">
            <b-form-input
              id="company"
              v-model="form.company"
              autocomplete="company"
              aria-describedby="input-company-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.company,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.company"
              id="input-company-feedback"
            >
              {{ errors.fields.company }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Country:" label-for="country">
            <DropdownList
              id="country"
              v-model="form.country"
              action="fetchCountries"
              getter="countries"
              :class="{
                'is-invalid': errors.fields && errors.fields.country,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.country"
              id="input-country-feedback"
            >
              {{ errors.fields.country }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Address:" label-for="address">
            <b-form-input
              id="address"
              v-model="form.address"
              autocomplete="address"
              aria-describedby="input-address-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.address,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.address"
              id="input-address-feedback"
            >
              {{ errors.fields.address }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col lg="6" md="6" sm="12">
      <b-row>
        <b-col>
          <b-form-group label="E-mail:" label-for="email">
            <b-form-input
              id="email"
              v-model="form.email"
              autocomplete="email"
              aria-describedby="input-email-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.email,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.email"
              id="input-email-feedback"
            >
              {{ errors.fields.email }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Phone:" label-for="phone">
            <b-form-input
              id="phone"
              v-model="form.phone"
              autocomplete="phone"
              aria-describedby="input-phone-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.phone,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.phone"
              id="input-phone-feedback"
            >
              {{ errors.fields.phone }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Skype:" label-for="skype">
            <b-form-input
              id="skype"
              v-model="form.skype"
              autocomplete="skype"
              aria-describedby="input-skype-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.skype,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.skype"
              id="input-skype-feedback"
            >
              {{ errors.fields.skype }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="LinkedIn:" label-for="linkedin">
            <b-input-group>
              <b-form-input
                id="linkedin"
                v-model="form.linkedin"
                autocomplete="linkedin"
                aria-describedby="input-linkedin-feedback"
                trim
                :class="{
                  'is-invalid': errors.fields && errors.fields.linkedin,
                }"
              />
              <b-input-group-append v-if="form.linkedin">
                <b-button variant="light" target="_blank" :href="form.linkedin">
                  <b-icon icon="box-arrow-up-right"></b-icon>
                </b-button>
              </b-input-group-append>
            </b-input-group>
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.linkedin"
              id="input-linkedin-feedback"
            >
              {{ errors.fields.linkedin }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Website:" label-for="website">
            <b-input-group>
              <b-form-input
                id="website"
                v-model="form.website"
                autocomplete="website"
                aria-describedby="input-website-feedback"
                trim
                :class="{
                  'is-invalid': errors.fields && errors.fields.website,
                }"
              />
              <b-input-group-append v-if="form.website">
                <b-button variant="light" target="_blank" :href="form.website">
                  <b-icon icon="box-arrow-up-right"></b-icon>
                </b-button>
              </b-input-group-append>
            </b-input-group>
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.website"
              id="input-website-feedback"
            >
              {{ errors.fields.website }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Description:">
            <RichTextEditor v-model="form.description" />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.description"
              :state="!(errors.fields && errors.fields.description)"
            >
              {{ errors.fields.description }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Rejection reason:">
            <RichTextEditor v-model="form.rejectionReason" />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.rejectionReason"
              :state="!(errors.fields && errors.fields.rejectionReason)"
            >
              {{ errors.fields.rejectionReason }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col sm="12">
      <div class="text-right">
        <b-button variant="secondary" @click="onCancel">
          Cancel
        </b-button>
        <b-button
          type="submit"
          variant="primary"
          class="px-3"
          @click.prevent="onSubmit"
        >
          Save
        </b-button>
      </div>
    </b-col>
  </b-form>
</template>

<script>
import { mapActions } from 'vuex'
import RichTextEditor from '~/components/common/RichTextEditor'
import DropdownList from '~/components/common/DropdownList'

import Lead from '~/models/lead'
import Bid from '~/models/bid'

export default {
  name: 'CreateLeadForm',
  components: { RichTextEditor, DropdownList },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    bid: {
      type: Bid,
      default: () => new Bid(),
    },
  },
  data: () => {
    return {
      form: new Lead().store(),
    }
  },
  created() {
    if (this.bid.id) {
      this.fillLeadFormFromBid()
    }
  },
  methods: {
    ...mapActions({
      createLead: 'leads/create',
      convertBid: 'bids/convert',
    }),
    async onSubmit() {
      try {
        const lead =
          this.bid.id && this.mode === 'convert'
            ? await this.convertBid({ id: this.bid.id, form: this.form })
            : await this.createLead(this.form)
        this.$emit('saved', lead)
      } catch (e) {}
    },
    onCancel() {
      this.form = new Lead().store()
      this.$emit('canceled')
    },
    fillLeadFormFromBid() {
      this.form.leadSource = this.bid.leadSource.id
      this.form.firstName = this.bid.customerName
        .replace(/  +/g, ' ')
        .split(' ')
        .slice(0, 1)
        .join()
      this.form.lastName = this.bid.customerName
        .replace(/  +/g, ' ')
        .split(' ')
        .slice(1)
        .join(' ')
      this.form.title = this.bid.projectName
      this.form.link = this.bid.link
      this.form.description = this.bid.comment
    },
  },
}
</script>

<style scoped></style>
