<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="w-100">
    <v-select
      :value="value"
      :options="leads"
      :reduce="(o) => o.value"
      searchable
      :filterable="false"
      :disabled="disabled"
      label="text"
      class="w-100"
      @input="onInput"
      @search="onSearch"
    >
      <template v-slot:option="option">
        <div>
          <strong>{{ option.text || option.title }}</strong>
        </div>
        <div v-if="option.text">
          <small>{{ option.title }}</small>
        </div>
      </template>
    </v-select>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'DropdownList',
  model: {
    prop: 'value',
    event: 'input',
  },
  props: {
    value: {
      type: Number,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      leads: [],
      debounce: null,
    }
  },
  watch: {
    async value(cv, ov) {
      if (cv && ov == null) {
        await this.getById(cv)
      }
    },
  },
  async created() {
    if (!this.leads.length) {
      await this.fetchOptions()
      const exists = Boolean(this.leads.find((e) => e.id === this.value))
      if (!exists && this.value) {
        await this.getById(this.value)
      }
    }
  },
  methods: {
    ...mapActions({
      fetchLeadsList: 'leads/fetchList',
      fetchById: 'leads/fetchById',
    }),
    onSearch(query = '') {
      clearTimeout(this.debounce)
      this.debounce = setTimeout(async () => {
        await this.fetchOptions({ query })
      }, 600)
    },
    onInput($event) {
      this.$emit('input', $event)
    },
    async fetchOptions(params = {}) {
      try {
        const { data } = await this.fetchLeadsList(params)
        const leads = data.map((e) => ({
          text: e.fullName,
          title: e.title,
          value: e.id,
          id: e.id,
        }))
        this.uniqueLeads(leads)
      } catch (e) {
        this.leads = []
      } finally {
      }
    },
    uniqueLeads(arr) {
      const leads = [...arr, ...this.leads]
      this.leads = Array.from(new Set(leads.map((e) => e.id))).map((id) => {
        return leads.find((e) => e.id === id)
      })
    },
    async getById(id) {
      const lead = await this.fetchById(id)
      this.uniqueLeads([
        {
          text: lead.fullName,
          title: lead.title,
          value: id,
          id,
        },
      ])
    },
  },
}
</script>

<style lang="scss">
.v-select {
  position: relative;
  flex: 1 1 auto;
  width: auto;
  .vs {
    &__dropdown-toggle {
      background: #ffffff;
      color: #5c6873;
      font-size: 0.8rem;
      font-weight: 400;
      height: calc(1.5em + 0.5rem + 2px);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &__search {
      &::placeholder {
        color: #6a7784;
      }
    }
    &__clear {
      padding: 0 0 1px 0;
    }
  }
}
.form-group .vs--disabled {
  .vs {
    &__dropdown-toggle {
      background: #f8f8f8;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    &__clear,
    &__open-indicator {
      display: none;
    }
  }
}
.form-group .v-select {
  .vs {
    &__dropdown-toggle {
      height: calc(1.5em + 0.75rem + 2px);
      border: 1px solid #e4e7ea;
      font-size: 0.875rem;
      border-radius: 0.25rem;
    }
    &__selected {
      color: #5c6873;
    }
  }
}

.is-invalid {
  .vs {
    &__dropdown-toggle {
      border-color: #f86c6b !important;
    }
    &__clear {
      fill: #f86c6b !important;
    }
  }
}
</style>
