<template>
  <b-form class="m-0">
    <b-col>
      <RichTextEditor v-model="form.note" />
      <b-form-invalid-feedback
        v-if="errors.fields && errors.fields.note"
        :state="!(errors.fields && errors.fields.note)"
      >
        {{ errors.fields.note }}
      </b-form-invalid-feedback>
    </b-col>
    <b-col class="my-2">
      <div class="text-right">
        <b-button variant="secondary" size="sm" @click="onCancel">
          Cancel
        </b-button>
        <b-button
          type="submit"
          variant="primary"
          class="px-3"
          size="sm"
          @click.prevent="onSubmit"
        >
          Save
        </b-button>
      </div>
    </b-col>
  </b-form>
</template>

<script>
import { mapActions } from 'vuex'
import RichTextEditor from '~/components/common/RichTextEditor'
import Note from '~/models/lead/Note'
export default {
  name: 'NoteForm',
  components: {
    RichTextEditor,
  },
  props: {
    leadId: {
      type: Number,
      default: null,
      require: true,
    },
  },
  data: () => {
    return {
      form: new Note().store(),
    }
  },
  methods: {
    ...mapActions({
      createNote: 'leads/note/create',
      clearErrors: 'validation/clearErrors',
    }),
    async onSubmit() {
      try {
        const note = await this.createNote({
          leadId: this.$route.params.id,
          formData: this.form,
        })
        this.form = new Note().store()
        this.$emit('saved', note)
      } catch (e) {}
    },
    onCancel() {
      this.form = new Note().store()
      this.clearErrors()
      this.$emit('canceled')
    },
  },
}
</script>
