<template>
  <b-card no-body>
    <div slot="header" class="cursor-pointer" @click="visible = !visible">
      <strong>Lead Notes</strong>
      <div class="card-header-actions">
        <b-badge
          :variant="visible ? 'success' : 'primary'"
          class="btn"
          :class="visible ? 'btn-success' : 'btn-primary'"
          :aria-expanded="visible ? 'true' : 'false'"
          aria-controls="collapse-note"
        >
          click to {{ visible ? 'hide form' : 'add Note' }}
        </b-badge>
      </div>
    </div>
    <b-collapse id="collapse-note" v-model="visible" class="my-3">
      <NoteForm
        :lead-id="leadId"
        @saved="note = $event"
        @canceled="visible = false"
      />
    </b-collapse>
    <div style="height: calc(100vh - 385px);">
      <NoteList :note="note" :lead-id="leadId" />
    </div>
  </b-card>
</template>

<script>
import NoteForm from '~/components/lead/NoteForm'
import NoteList from '~/components/lead/NoteList'

export default {
  name: 'Notes',
  components: {
    NoteList,
    NoteForm,
  },
  props: {
    leadId: {
      type: Number,
      default: null,
      require: true,
    },
  },
  data: () => {
    return {
      visible: false,
      note: null,
    }
  },
}
</script>
