<template>
  <PerfectScrollbar class="scroll-area" :settings="psSettings" infinite-wrapper>
    <div v-if="isLoading" class="text-center">
      <b-spinner variant="primary" label="Loading..."></b-spinner>
    </div>
    <b-list-group>
      <b-list-group-item
        v-for="item in notes"
        :key="item.id"
        class="flex-column align-items-start mb-0 rounded-0 border-left-0 border-right-0"
      >
        <div class="d-flex w-100 justify-content-between">
          <small>&nbsp;</small>
          <small class="text-muted">
            {{ $moment(item.createdAt).format('DD.MM.YYYY (HH:mm)') }}
          </small>
        </div>
        <div class="mb-1" v-html="item.note"></div>
      </b-list-group-item>
    </b-list-group>
    <client-only>
      <InfiniteLoading v-if="totalPages > 1" @infinite="infiniteHandler">
        <div slot="no-more">
          No more notes
        </div>
        <div slot="no-results">
          No any note
        </div>
      </InfiniteLoading>
    </client-only>
  </PerfectScrollbar>
</template>

<script>
import { mapActions } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading'
import Note from '~/models/lead/Note'
export default {
  name: 'NoteList',
  components: {
    InfiniteLoading,
  },
  props: {
    note: {
      type: Note,
      default: null,
    },
    leadId: {
      type: Number,
      default: null,
      require: true,
    },
  },
  data() {
    return {
      notes: [],
      page: 1,
      totalPages: 0,
      isLoading: false,
    }
  },
  computed: {
    psSettings: () => {
      // ToDo: find better rtl fix
      return {
        maxScrollbarLength: 200,
        minScrollbarLength: 40,
        suppressScrollX:
          getComputedStyle(document.querySelector('html')).direction !== 'rtl',
        wheelPropagation: false,
        interceptRailY: (styles) => ({ ...styles, height: 0 }),
      }
    },
  },
  watch: {
    note(val) {
      this.pushNote(val)
    },
  },
  async created() {
    this.isLoading = true
    await this.getNotes()
    this.isLoading = false
  },
  methods: {
    ...mapActions({
      fetchNotes: 'leads/note/fetchList',
    }),
    async getNotes() {
      const { data, meta } = await this.fetchNotes({
        leadId: this.leadId,
      })
      this.notes = data
      this.totalPages = meta.totalPages
    },
    pushNote(note) {
      this.notes.unshift(note)
    },
    async infiniteHandler($state) {
      this.page += 1
      if (this.totalPages >= this.page) {
        const reqParams = {
          leadId: this.leadId,
          params: { page: this.page },
        }
        const { data } = await this.fetchNotes(reqParams)
        this.notes.push(...data)
        $state.loaded()
      } else {
        $state.complete()
      }
    },
  },
}
</script>

<style scoped lang="css">
.scroll-area {
  height: 100%;
  margin: auto;
}
</style>
