<template>
  <div>
    <b-row>
      <b-col sm="12">
        <h4>Your activities for today</h4>
        <ActivityDashboardTable />
      </b-col>
    </b-row>
  </div>
</template>
<script>
import ActivityDashboardTable from '~/components/activity/ActivityDashboardTable'
export default {
  components: { ActivityDashboardTable },
  layout: 'default-backside',
  middleware: 'auth',
  transition: 'animated',
}
</script>

<style scoped lang="scss"></style>
