<template>
  <div>
    <LoginForm />
  </div>
</template>
<script>
import LoginForm from '~/components/auth/LoginForm'
export default {
  components: { LoginForm },
  layout: 'home',
  middleware: 'auth',
  auth: 'guest',
}
</script>
