@import "../../../../assets/style/utils/vars";

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 28px 0 26px 0;
  height: 106px;
  @media screen and (max-width: $tablet) {
    align-items: flex-start;
    padding: 20px 0 48px 0;
    height: 122px;
  }
}

.logo {
  display: inline-block;
  max-width: 93px;
  @media screen and (max-width: $tablet) {
    max-width: 96px;
  }

  img {
    display: block;
    width: 100%;
  }
}

.r-cell {
  font-family: $workSans400;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  text-align: right;
  color: $whiteLinkHover;

  span {
    display: block;
    padding-bottom: 12px;
  }

  a {
    font-family: $workSans600;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    text-align: right;
    color: $white;
    transition: $transition;
    @media screen and (max-width: $tablet) {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 110px;
      height: 37px;
      border: 1px solid $white;
      border-radius: 8px;
    }

    &:hover {
      color: $whiteLinkHover;
      @media screen and (max-width: $tablet) {
        border-color: $whiteLinkHover;
      }
    }

    &:active {
      color: $whiteLinkPressed;
      @media screen and (max-width: $tablet) {
        border-color: $whiteLinkPressed;
      }
    }
  }
}
