<a class="logo" href="javascript:void(0)" [routerLink]="'case-study'">
  <img src="../../../../assets/images/starter/logo-white.png" alt="">
</a>

<div class="r-cell">
  <span *ngIf="page" class="show-desktop">
    {{ page === 'sign-up' ? 'Already have an account?' : 'Don’t have an account yet?' }}
  </span>

  <a *ngIf="route" [routerLink]="route" href="javascript:void(0)">
    {{ page === 'sign-up' ? 'Sign in' : 'Sign up' }}
  </a>
</div>
