<template>
  <b-form-group
    :label="label"
    label-cols-sm="2"
    label-cols-md="2"
    label-cols-lg="3"
    label-align-sm="left"
    label-size="sm"
    label-for="filterByDates"
    class="mb-0"
  >
    <b-input-group size="sm" class="flex-sm-nowrap">
      <DateRangePicker
        id="filterByDates"
        v-model="dateRange"
        :locale-data="{
          firstDay: 1,
          format: 'dd.mm.yyyy',
        }"
        auto-apply
        @update="onUpdate"
      >
      </DateRangePicker>
      <b-input-group-append>
        <b-button
          :disabled="!dateRange.startDate || !dateRange.endDate"
          @click="onClearDateRange"
        >
          Clear
        </b-button>
      </b-input-group-append>
    </b-input-group>
  </b-form-group>
</template>

<script>
import DateRangePicker from 'vue2-daterange-picker'
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'
export default {
  name: 'DateRangeFilter',
  components: { DateRangePicker },
  model: {
    event: 'select',
  },
  props: {
    label: {
      type: String,
      default: 'Filter by date:',
    },
  },
  data: () => {
    return {
      dateRange: {
        startDate: null,
        endDate: null,
      },
    }
  },
  methods: {
    onClearDateRange() {
      Object.keys(this.dateRange).forEach((e) => (this.dateRange[e] = null))
      this.$emit('select', this.dateRange)
    },
    onUpdate(v) {
      this.$emit('select', v)
    },
  },
}
</script>

<style>
.vue-daterange-picker {
  position: relative;
  flex: 1 1 auto;
  width: auto;
}
.vue-daterange-picker .reportrange-text {
  height: 28px !important;
  padding: 3px 10px !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
</style>
