<template>
  <client-only>
    <div class="app">
      <DefaultBackSideHeader />
      <div class="app-body">
        <AppSidebar fixed>
          <SidebarHeader />
          <SidebarForm />
          <SidebarNav :nav-items="nav"></SidebarNav>
          <SidebarFooter>
            <b-link class="" to="/" exact @click.native="$auth.logout()">
              <i class="mr-2 nav-icon icon-logout"></i>
              Logout
            </b-link>
          </SidebarFooter>
          <SidebarMinimizer />
        </AppSidebar>
        <main class="main">
          <Breadcrumb :list="list" />
          <div class="container-fluid mt-2">
            <h3>{{ name | capitalize }}</h3>
            <nuxt />
          </div>
        </main>
        <AppAside fixed>
          <!--aside-->
        </AppAside>
      </div>
      <DefaultBackSideFooter />
    </div>
  </client-only>
</template>

<script>
import {
  Sidebar as AppSidebar,
  SidebarFooter,
  SidebarForm,
  SidebarHeader,
  SidebarMinimizer,
  SidebarNav,
  Aside as AppAside,
  Breadcrumb,
} from '~/admin/components'
import DefaultBackSideHeader from '~/components/common/DefaultBackSideHeader'
import DefaultBackSideFooter from '~/components/common/DefaultBackSideFooter'

export default {
  components: {
    AppSidebar,
    AppAside,
    Breadcrumb,
    SidebarForm,
    SidebarFooter,
    SidebarHeader,
    SidebarNav,
    SidebarMinimizer,
    DefaultBackSideHeader,
    DefaultBackSideFooter,
  },
  data() {
    return {
      nav: [
        {
          name: 'Dashboard',
          url: '/dashboard',
          icon: 'icon-speedometer',
        },
        {
          name: 'Bids',
          url: '/bids',
          icon: 'icon-list',
        },
        {
          name: 'Leads',
          url: '/leads',
          icon: 'icon-list',
        },
        {
          name: 'Deals',
          url: '/deals',
          icon: 'icon-list',
        },
        {
          name: 'Projects',
          url: '/projects',
          icon: 'icon-list',
        },
        {
          name: 'Activities',
          url: '/activities',
          icon: 'icon-list',
        },
        {
          name: 'Customers',
          url: '/customers',
          icon: 'icon-people',
        },
        {
          name: 'Teams',
          url: '/teams',
          icon: 'icon-people',
        },
        {
          name: 'Account Details',
          url: '/user/profile',
          icon: 'icon-user',
        },
      ],
    }
  },
  computed: {
    name() {
      return this.$route.name.replace('-', ' ')
    },
    list() {
      const dashboard =
        this.$route.name !== 'dashboard'
          ? [this.$router.resolve({ name: 'dashboard' }).route]
          : []
      return [...dashboard, ...this.fillBreadcrumbs(this.$route)]
    },
  },
  methods: {
    fillBreadcrumbs(e, breadcrumbs = []) {
      breadcrumbs.unshift(e)
      const routes = this.$router.options.routes
      if (e.meta && typeof e.meta.parent === 'string') {
        routes.forEach((c) => {
          if (e.meta.parent === c.name) {
            this.fillBreadcrumbs(c, breadcrumbs)
          }
        })
      }
      return breadcrumbs
    },
  },
}
</script>
