<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6">
          <div v-if="error.statusCode === 403" :key="403" class="clearfix">
            <h1 class="float-left display-3 mr-4">{{ error.statusCode }}</h1>
            <h4 class="pt-3">{{ error.message }}</h4>
            <p class="text-muted">
              You do not have permission to do this action
            </p>
          </div>
          <div v-else-if="error.statusCode === 404" :key="404" class="clearfix">
            <h1 class="float-left display-3 mr-4">{{ error.statusCode }}</h1>
            <h4 class="pt-3">{{ error.message }}</h4>
            <p class="text-muted">
              The page you are looking for doesn't exist or an other error
              occurred.
            </p>
          </div>
          <div v-else-if="error.statusCode === 500" :key="500" class="clearfix">
            <h1 class="float-left display-3 mr-4">{{ error.statusCode }}</h1>
            <h4 class="pt-3">Houston, we have a problem!</h4>
            <p class="text-muted">
              The page you are looking for is temporarily unavailable.
            </p>
          </div>
          <div v-else :key="other" class="clearfix">
            <h1 class="float-left display-3 mr-4">{{ error.statusCode }}</h1>
            <h4 class="pt-3">An error occurred</h4>
          </div>
          <b-input-group class="justify-content-center">
            <b-input-group-append>
              <b-button to="/" variant="info" class="mt-2">
                Go to Homepage
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      required: false,
      default: () => [],
    },
  },
}
</script>
