<template>
  <b-form class="row">
    <b-col xs="12" md="6" xl="6">
      <b-row>
        <b-col>
          <b-form-group label="Title:" label-for="title">
            <b-form-input
              id="title"
              v-model="form.title"
              autocomplete="title"
              aria-describedby="input-title-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.title,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.title"
              id="input-title-feedback"
            >
              {{ errors.fields.title }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Amount:" label-for="amount">
            <b-input-group prepend="$">
              <b-form-input
                id="amount"
                v-model="form.amount"
                autocomplete="amount"
                type="number"
                min="0"
                aria-describedby="input-amount-feedback"
                trim
                :class="{
                  'is-invalid': errors.fields && errors.fields.amount,
                }"
              />
            </b-input-group>
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.amount"
              id="input-title-feedback"
            >
              {{ errors.fields.amount }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Closing Date:" label-for="closingDate">
            <b-form-datepicker
              id="closingDate"
              v-model="form.closingDate"
              :min="$moment().format('YYYY-MM-DD')"
              start-weekday="1"
              locale="en"
              :class="{
                'is-invalid': errors.fields && errors.fields.closingDate,
              }"
            ></b-form-datepicker>
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.closingDate"
              id="input-closingDate-feedback"
            >
              {{ errors.fields.closingDate }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Type:" label-for="type">
            <DropdownList
              id="type"
              v-model="form.type"
              action="deals/fetchTypeList"
              getter="deals/typeList"
              :class="{
                'is-invalid': errors.fields && errors.fields.type,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.type"
              id="input-type-feedback"
            >
              {{ errors.fields.type }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Status:" label-for="status">
            <b-form-input
              v-if="mode === 'update' && deal.status.isFinal"
              :value="deal.status.title"
              disabled
            />
            <DropdownList
              v-else
              id="status"
              v-model="form.status"
              action="deals/fetchStatusList"
              getter="deals/statusList"
              :class="{
                'is-invalid': errors.fields && errors.fields.status,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.status"
              id="input-status-feedback"
            >
              {{ errors.fields.status }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col xs="12" md="6" xl="6">
      <b-row>
        <b-col>
          <b-form-group label="Owner:" label-for="owner">
            <DropdownList
              id="owner"
              v-model="form.owner"
              action="fetchSales"
              getter="sales"
              :class="{
                'is-invalid': errors.fields && errors.fields.owner,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.owner"
              id="input-owner-feedback"
            >
              {{ errors.fields.owner }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Lead:" label-for="lead">
            <DropdownLeadList
              v-model="form.lead"
              :class="{
                'is-invalid': errors.fields && errors.fields.lead,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.lead"
              id="input-lead-feedback"
              :state="!(errors.fields && errors.fields.lead)"
            >
              {{ errors.fields.lead }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Description:">
            <RichTextEditor v-model="form.description" />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.description"
              :state="!(errors.fields && errors.fields.description)"
            >
              {{ errors.fields.description }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col sm="12">
      <div class="text-right">
        <DeleteButton
          v-if="mode === 'update'"
          :id="deal.id"
          action="deals/delete"
          @deleted="$emit('deleted')"
        />
        <b-button variant="secondary" @click="onCancel">
          Cancel
        </b-button>
        <b-button
          type="submit"
          variant="primary"
          class="px-3"
          @click.prevent="onSubmit"
        >
          Save
        </b-button>
      </div>
    </b-col>
  </b-form>
</template>

<script>
import { mapActions } from 'vuex'
import Deal from '~/models/deal'
import RichTextEditor from '~/components/common/RichTextEditor'
import DeleteButton from '~/components/common/DeleteButton'
import DropdownLeadList from '~/components/lead/DropdownList'
import DropdownList from '~/components/common/DropdownList'

export default {
  name: 'CreateUpdateDealForm',
  components: {
    DropdownLeadList,
    DeleteButton,
    DropdownList,
    RichTextEditor,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    deal: {
      type: Deal,
      default: () => new Deal(),
    },
  },
  data: () => {
    return {
      form: new Deal().store(),
    }
  },
  created() {
    this.form = this.deal.store()
  },
  methods: {
    ...mapActions({
      createDeal: 'deals/create',
      updateDeal: 'deals/update',
    }),
    async onSubmit() {
      try {
        if (this.mode === 'create') {
          await this.createDeal(this.form)
        } else if (this.mode === 'update') {
          await this.updateDeal({
            id: this.deal.id,
            ...this.form,
          })
        }
        this.$emit('saved')
      } catch (e) {}
    },
    onCancel() {
      this.form = this.deal.store()
      this.$emit('canceled')
    },
  },
}
</script>
