<template>
  <footer :class="classList">
    <div class="ml-auto">
      <span class="mr-1">Powered by</span>
      <b-link href="https://it-devgroup.us" target="_blank">
        IT DEV GROUP
      </b-link>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'DefaultFooter',
  props: {
    fixed: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    classList() {
      return ['app-footer']
    },
  },
  mounted() {
    this.isFixed()
  },
  methods: {
    isFixed() {
      this.fixed
        ? document.body.classList.add('footer-fixed')
        : document.body.classList.remove('footer-fixed')
    },
  },
}
</script>
