<template>
  <AppHeader fixed>
    <SidebarToggler class="d-lg-none" display="md" mobile />
    <b-link class="navbar-brand" :to="{ name: 'dashboard' }">
      <span class="navbar-brand-full logo-text">
        <img src="/images/logo.svg" width="42" height="42" alt="logo" />
        &nbsp;IT DEV CRM
      </span>
      <img
        class="navbar-brand-minimized"
        src="/images/logo.svg"
        width="42"
        height="42"
        alt="small logo"
      />
    </b-link>
    <SidebarToggler class="d-md-down-none" display="lg" :default-open="true" />
    <b-navbar-nav class="ml-auto">
      <!--<DefaultHeaderDropdownAccnt />-->
      <b-nav-item class="d-md-down-none ml-2 mr-4" @click="$auth.logout()">
        Logout
      </b-nav-item>
    </b-navbar-nav>
  </AppHeader>
</template>
<script>
import { Header as AppHeader, SidebarToggler } from '~/admin/components'
// import DefaultHeaderDropdownAccnt from './DefaultHeaderDropdownAccnt'

export default {
  name: 'DefaultHeader',
  components: {
    AppHeader,
    // DefaultHeaderDropdownAccnt,
    SidebarToggler,
  },
}
</script>
<style lang="scss">
.navbar-brand .logo-text {
  color: black;
}
</style>
