<template>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <img
        src="/img/avatars/6.jpg"
        class="img-avatar"
        alt="admin@bootstrapmaster.com"
      />
    </template>
    <template slot="dropdown">
      <b-dropdown-header tag="div" class="text-center"
        ><strong>Account</strong></b-dropdown-header
      >
      <!--<b-dropdown-item
        ><i class="fa fa-bell-o"></i> Updates
        <b-badge variant="info">{{ itemsCount }}</b-badge>
      </b-dropdown-item>
      <b-dropdown-item
        ><i class="fa fa-envelope-o"></i> Messages
        <b-badge variant="success">{{ itemsCount }}</b-badge>
      </b-dropdown-item>
      <b-dropdown-item
        ><i class="fa fa-tasks"></i> Tasks
        <b-badge variant="danger">{{ itemsCount }}</b-badge>
      </b-dropdown-item>
      <b-dropdown-item
        ><i class="fa fa-comments"></i> Comments
        <b-badge variant="warning">{{ itemsCount }}</b-badge>
      </b-dropdown-item>-->
      <!--<b-dropdown-header tag="div" class="text-center">
        <strong>Settings</strong>
      </b-dropdown-header>-->
      <b-dropdown-item :to="{ name: 'user-profile' }">
        <i class="icon-user"></i>
        Profile
      </b-dropdown-item>
      <b-dropdown-item disabled
        ><i class="icon-settings"></i> Settings
        <b-badge variant="secondary">New</b-badge>
      </b-dropdown-item>
      <b-dropdown-divider />
      <b-dropdown-item @click="$auth.logout()">
        <i class="icon-logout"></i>
        Logout
      </b-dropdown-item>
    </template>
  </AppHeaderDropdown>
</template>

<script>
import { HeaderDropdown as AppHeaderDropdown } from '@coreui/vue'
export default {
  name: 'DefaultHeaderDropdownAccnt',
  components: {
    AppHeaderDropdown,
  },
  data: () => {
    return { itemsCount: 42 }
  },
}
</script>
