<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-select
    :value="value"
    :options="options"
    :reduce="(o) => o.value"
    :searchable="searchable"
    :filterable="false"
    :multiple="multiple"
    :disabled="disabled"
    label="text"
    :placeholder="placeholder"
    @input="onInput"
    @search="onSearch"
  >
  </v-select>
</template>

<script>
export default {
  name: 'DropdownList',
  model: {
    prop: 'value',
    event: 'input',
  },
  props: {
    value: {
      type: [Number, Array, Boolean],
      default: null,
    },
    optionList: {
      type: Array,
      default: null,
    },
    action: {
      type: String,
      default: '',
    },
    getter: {
      type: String,
      default: '',
    },
    searchable: {
      type: Boolean,
      default: false,
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: '',
    },
    emptyFirstOption: {
      type: Boolean,
      default: false,
    },
    firstOptionLabel: {
      type: String,
      default: '-- all --',
    },
  },
  data() {
    return {
      debounce: null,
    }
  },
  computed: {
    options: {
      get() {
        const options =
          this.optionList && this.optionList.length
            ? this.optionList
            : this.$store.getters[this.getter]
        return this.buildOptions(options)
      },
      set(newValue) {
        newValue.map((e) => ({
          text: e.title || e.name || e.text,
          value: e.id || e.value,
        }))
      },
    },
    firstOption() {
      return [{ text: this.firstOptionLabel, value: null }]
    },
  },
  async created() {
    if (this.options && !this.options.length) {
      await this.getOptions()
    }
  },
  methods: {
    onSearch(query = '') {
      clearTimeout(this.debounce)
      this.debounce = setTimeout(async () => {
        await this.getOptions({ query })
      }, 600)
    },
    onInput($event) {
      this.$emit('input', $event)
    },
    async getOptions(params = {}) {
      try {
        const options = await this.$store.dispatch(this.action, params)
        if (this.searchable) {
          this.options = this.buildOptions(options)
        }
      } catch (e) {
        this.options = []
      }
    },
    buildOptions(options) {
      return this.emptyFirstOption ? [...this.firstOption, ...options] : options
    },
  },
}
</script>

<style lang="scss">
.v-select {
  position: relative;
  flex: 1 1 auto;
  width: auto;
  .vs {
    &__dropdown-toggle {
      background: #ffffff;
      color: #5c6873;
      font-size: 0.8rem;
      font-weight: 400;
      height: calc(1.5em + 0.5rem + 2px);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &__search {
      &::placeholder {
        color: #6a7784;
      }
    }
    &__clear {
      padding: 0 0 1px 0;
    }
  }
}
.form-group .v-select {
  .vs {
    &__dropdown-toggle {
      height: calc(1.5em + 0.75rem + 2px);
      border: 1px solid #e4e7ea;
      font-size: 0.875rem;
      border-radius: 0.25rem;
    }
    &__selected {
      color: #5c6873;
    }
  }
}
.is-invalid {
  .vs {
    &__dropdown-toggle {
      border-color: #f86c6b !important;
    }
    &__clear {
      fill: #f86c6b !important;
    }
  }
}
</style>
