<template xmlns:v-quill="http://www.w3.org/1999/xhtml">
  <section class="container">
    <div
      v-quill:myQuillEditor="editorOption"
      class="quill-editor"
      :class="classes"
      :content="content"
      @change="onEditorChange($event)"
      @blur="onEditorBlur($event)"
      @focus="onEditorFocus($event)"
      @ready="onEditorReady($event)"
    ></div>
  </section>
</template>

<script>
export default {
  name: 'RichTextEditor',
  model: {
    prop: 'content',
    event: 'change',
  },
  props: {
    content: {
      type: String,
      default: '',
    },
    classes: {
      type: String,
      default: 'height-10r',
    },
  },
  data() {
    return {
      editorOption: {
        modules: {
          toolbar: [
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            ['bold', 'italic', 'underline', 'strike'],
            [{ list: 'ordered' }, { list: 'bullet' }],
            ['link', 'blockquote', 'code-block'],
          ],
        },
      },
    }
  },
  methods: {
    onEditorBlur(editor) {
      this.$emit('blur', editor)
    },
    onEditorFocus(editor) {
      this.$emit('focus', editor)
    },
    onEditorReady(editor) {
      this.$emit('ready', editor)
    },
    onEditorChange({ editor, html, text }) {
      this.$emit('change', html)
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  .quill-editor {
    overflow-y: auto;
  }
  .height-10r {
    height: 10rem;
    min-height: 200px;
    max-height: 400px;
  }
  .height-20r {
    height: 20rem;
    min-height: 400px;
    max-height: 600px;
  }
  .height-30r {
    height: 30rem;
    min-height: 600px;
    max-height: 800px;
  }
  .height-auto {
    height: auto;
  }
}
</style>
