<template>
  <b-form class="row">
    <b-col xs="12" lg="6" xl="6">
      <b-row>
        <b-col>
          <b-form-group label="Project Title:" label-for="project-title">
            <b-form-input
              id="project-title"
              v-model="form.title"
              aria-describedby="input-project-title-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.title,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.title"
              id="input-project-title-feedback"
            >
              {{ errors.fields.title }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Project Key:" label-for="project-key">
            <b-form-input
              id="project-key"
              v-model="form.projectKey"
              aria-describedby="input-project-key-feedback"
              trim
              :class="{
                'is-invalid': errors.fields && errors.fields.projectKey,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.projectKey"
              id="input-project-key-feedback"
            >
              {{ errors.fields.projectKey }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Status:" label-for="project-status">
            <DropdownList
              id="project-status"
              v-model="form.status"
              action="projects/fetchStatusList"
              getter="projects/statusList"
              :class="{
                'is-invalid': errors.fields && errors.fields.status,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.status"
              id="input-project-status-feedback"
            >
              {{ errors.fields.status }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Customer:" label-for="project-customer">
            <CustomerDropdownList
              id="project-customer"
              v-model="form.customer"
              :class="{
                'is-invalid': errors.fields && errors.fields.customer,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.customer"
              id="input-project-customer-feedback"
            >
              {{ errors.fields.customer }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Source:" label-for="project-source">
            <DropdownList
              id="project-source"
              v-model="form.projectSource"
              action="projects/fetchSourceList"
              getter="projects/sourceList"
              :class="{
                'is-invalid': errors.fields && errors.fields.projectSource,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.projectSource"
              id="input-project-source-feedback"
            >
              {{ errors.fields.projectSource }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row v-if="form.projectSource === 1">
        <b-col>
          <b-form-group label="Leadgen:" label-for="leadgen">
            <DropdownList
              id="leadgen"
              v-model="form.leadgen"
              action="fetchSales"
              getter="sales"
              :class="{
                'is-invalid': errors.fields && errors.fields.leadgen,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.leadgen"
              id="input-leadgen-feedback"
            >
              {{ errors.fields.leadgen }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Rate:" label-for="rate">
            <b-input-group prepend="$">
              <b-form-input
                id="rate"
                v-model="form.rate"
                type="number"
                autocomplete="rate"
                aria-describedby="input-rate-feedback"
                trim
                :class="{
                  'is-invalid': errors.fields && errors.fields.rate,
                }"
              />
              <b-form-invalid-feedback
                v-if="errors.fields && errors.fields.rate"
                id="input-rate-feedback"
              >
                {{ errors.fields.rate }}
              </b-form-invalid-feedback>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Estimated Sum:" label-for="estimatedSum">
            <b-input-group prepend="$">
              <b-form-input
                id="estimatedSum"
                v-model="form.estimatedSum"
                type="number"
                autocomplete="estimatedSum"
                aria-describedby="input-estimatedSum-feedback"
                trim
                :class="{
                  'is-invalid': errors.fields && errors.fields.estimatedSum,
                }"
              />
              <b-form-invalid-feedback
                v-if="errors.fields && errors.fields.estimatedSum"
                id="input-estimatedSum-feedback"
              >
                {{ errors.fields.estimatedSum }}
              </b-form-invalid-feedback>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Payment Type:" label-for="project-payment-type">
            <DropdownList
              id="project-payment-type"
              v-model="form.paymentType"
              action="projects/fetchPaymentTypeList"
              getter="projects/paymentTypeList"
              :class="{
                'is-invalid': errors.fields && errors.fields.paymentType,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.paymentType"
              id="input-project-payment-type-feedback"
            >
              {{ errors.fields.paymentType }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group
            label="Project Start Date:"
            label-for="project-start-date"
          >
            <b-form-datepicker
              id="project-start-date"
              v-model="form.startDate"
              start-weekday="1"
              locale="ru"
              aria-describedby="input-project-start-date-feedback"
              :class="{
                'is-invalid': errors.fields && errors.fields.startDate,
              }"
            ></b-form-datepicker>
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.startDate"
              id="input-project-start-date-feedback"
            >
              {{ errors.fields.startDate }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Is Project under NDA:" label-for="project-nda">
            <DropdownList
              id="project-nda"
              v-model="form.underNda"
              :option-list="[
                { text: 'Yes', value: 1 },
                { text: 'No', value: 2 },
              ]"
              :class="{
                'is-invalid': errors.fields && errors.fields.underNda,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.underNda"
              id="input-project-nda-feedback"
            >
              {{ errors.fields.underNda }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Is Project SEO:" label-for="project-seo">
            <DropdownList
              id="project-seo"
              v-model="form.seo"
              :option-list="[
                { text: 'Yes', value: 1 },
                { text: 'No', value: 0 },
              ]"
              :class="{
                'is-invalid': errors.fields && errors.fields.seo,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.seo"
              id="input-project-seo-feedback"
            >
              {{ errors.fields.seo }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="NPS:" label-for="project-nps">
            <DropdownList
              id="project-nps"
              v-model="form.nps"
              :option-list="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
              :class="{
                'is-invalid': errors.fields && errors.fields.nps,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.nps"
              id="input-project-nps-feedback"
            >
              {{ errors.fields.nps }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Project Url:" label-for="project-url">
            <b-input-group>
              <b-form-input
                id="project-url"
                v-model="form.projectUrl"
                aria-describedby="input-project-url-feedback"
                trim
                :class="{
                  'is-invalid': errors.fields && errors.fields.projectUrl,
                }"
              />
              <b-input-group-append v-if="form.projectUrl">
                <b-button
                  variant="light"
                  target="_blank"
                  :href="form.projectUrl"
                >
                  <b-icon icon="box-arrow-up-right"></b-icon>
                </b-button>
              </b-input-group-append>
            </b-input-group>
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.projectUrl"
              id="input-project-url-feedback"
            >
              {{ errors.fields.projectUrl }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col xs="12" lg="6" xl="6">
      <b-row>
        <b-col>
          <b-form-group label="Project Manager:" label-for="projectManager">
            <DropdownList
              id="projectManager"
              v-model="form.projectManager"
              action="fetchProjectManagers"
              getter="projectManagers"
              :class="{
                'is-invalid': errors.fields && errors.fields.projectManager,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.projectManager"
              id="input-project-manager-feedback"
            >
              {{ errors.fields.projectManager }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Country:" label-for="project-country">
            <DropdownList
              id="project-country"
              v-model="form.country"
              action="fetchCountries"
              getter="countries"
              :class="{
                'is-invalid': errors.fields && errors.fields.country,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.country"
              id="input-project-country-feedback"
            >
              {{ errors.fields.country }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Project Type:" label-for="project-type">
            <DropdownList
              id="project-type"
              v-model="form.projectType"
              action="projects/fetchTypeList"
              getter="projects/typeList"
              :class="{
                'is-invalid': errors.fields && errors.fields.projectType,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.projectType"
              id="input-project-type-feedback"
            >
              {{ errors.fields.projectType }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Project Job Type:" label-for="project-job-type">
            <DropdownList
              id="project-job-type"
              v-model="form.jobType"
              action="fetchJobTypes"
              getter="jobTypes"
              :class="{
                'is-invalid': errors.fields && errors.fields.jobType,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.jobType"
              id="input-project-jobType-feedback"
            >
              {{ errors.fields.jobType }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Industries:" label-for="project-industries">
            <DropdownList
              id="project-industries"
              v-model="form.industries"
              action="fetchIndustries"
              getter="industries"
              multiple
              :class="{
                'is-invalid': errors.fields && errors.fields.industries,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.industries"
              id="input-project-industries-feedback"
            >
              {{ errors.fields.industries }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Technologies:" label-for="project-technologies">
            <DropdownList
              id="project-technologies"
              v-model="form.technologies"
              action="fetchTechnologies"
              getter="technologies"
              multiple
              :class="{
                'is-invalid': errors.fields && errors.fields.technologies,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.technologies"
              id="input-project-technologies-feedback"
            >
              {{ errors.fields.technologies }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Languages:" label-for="project-languages">
            <DropdownList
              id="project-languages"
              v-model="form.languages"
              action="fetchLanguages"
              getter="languages"
              multiple
              :class="{
                'is-invalid': errors.fields && errors.fields.languages,
              }"
            />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.languages"
              id="input-project-languages-feedback"
            >
              {{ errors.fields.languages }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Description:">
            <RichTextEditor v-model="form.description" />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.description"
              :state="!(errors.fields && errors.fields.description)"
            >
              {{ errors.fields.description }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Customer Review:">
            <RichTextEditor v-model="form.customerReview" />
            <b-form-invalid-feedback
              v-if="errors.fields && errors.fields.customerReview"
              :state="!(errors.fields && errors.fields.customerReview)"
            >
              {{ errors.fields.customerReview }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col sm="12">
      <div class="text-right">
        <DeleteButton
          v-if="showDeleteButton"
          :id="currentProject.id"
          action="projects/delete"
          @deleted="$emit('deleted')"
        />
        <b-button variant="secondary" @click="onCancel">
          Cancel
        </b-button>
        <b-button
          type="submit"
          variant="primary"
          class="px-3"
          @click.prevent="onSubmit"
        >
          Save
        </b-button>
      </div>
    </b-col>
  </b-form>
</template>

<script>
import { mapActions } from 'vuex'
import DeleteButton from '~/components/common/DeleteButton'
import RichTextEditor from '~/components/common/RichTextEditor'
import DropdownList from '~/components/common/DropdownList'
import CustomerDropdownList from '~/components/customer/DropdownList'

import Project from '~/models/project'

export default {
  name: 'CreateProjectForm',
  components: {
    DeleteButton,
    RichTextEditor,
    DropdownList,
    CustomerDropdownList,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    project: {
      type: Project,
      default: () => new Project(),
    },
  },
  data: () => {
    return {
      form: new Project().store(),
      currentProject: new Project(),
    }
  },
  computed: {
    showDeleteButton() {
      return this.mode === 'update'
    },
  },
  async created() {
    if (this.$route.name === 'edit-project' && this.$route.params.id) {
      this.currentProject = await this.fetchProject(this.$route.params.id)
    } else {
      this.currentProject = this.project
    }
    this.form = this.currentProject.store()
  },
  methods: {
    ...mapActions({
      createProject: 'projects/create',
      updateProject: 'projects/update',
      fetchProject: 'projects/fetchById',
    }),
    async onSubmit() {
      this.form.leadgen =
        this.form.projectSource === 1 ? this.form.leadgen : null

      this.form.startDate = this.form.startDate
        ? this.$moment(this.form.startDate).format('YYYY-MM-DD')
        : ''
      try {
        let project = {}
        if (this.mode === 'create') {
          project = await this.createProject(this.form)
        } else if (this.mode === 'update') {
          project = await this.updateProject({
            id: this.currentProject.id,
            ...this.form,
          })
        }
        this.$emit('saved', project)
      } catch (e) {}
    },
    onCancel() {
      this.form = this.currentProject.store()
      this.$emit('canceled')
    },
  },
}
</script>
